button {
  border-radius: 50px;
  border: none;
  padding: 1rem;
  background-color: var(--base);
  display: block;
  cursor: pointer;
  font-weight: bold;
  font-size: 19px;

  &.primary {
    background-color: var(--primary);
    color: var(--primary-text);

    &:hover,
    &:active,
    &:focus {
      outline: none;
    }

    &:hover,
    &:active {
      background-color: var(--primaryHover);
    }
  }
}
