.color-base {
  color: var(--base);
}

.color-low-base {
  color: var(--lowBase);
}

.color-high-contrast {
  color: var(--highContrast);
}

.color-contrast {
  color: var(--contrast);
}

.color-low-contrast {
  color: var(--lowContrast);
}

.color-lowest-contrast {
  color: var(--lowestContrast);
}

.color-base-hover {
  color: var(--baseHover);
}

.color-base-active {
  color: var(--baseActive);
}

.color-separator {
  color: var(--separator);
}

.color-header-color {
  color: var(--headerColor);
}

.color-primary {
  color: var(--primary);
}

.color-primary-hover {
  color: var(--primaryHover);
}

.color-primary-active {
  color: var(--primaryActive);
}

.color-primary-clear {
  color: var(--primaryClear);
}

.color-primary-text {
  color: var(--primaryText);
}

.color-imgButton-primary {
  color: var(--imgButtonPrimary);
}

.color-imgButton-primary-hover {
  color: var(--imgButtonPrimaryHover);
}

.color-imgButton-primary-active {
  color: var(--imgButtonPrimaryActive);
}

.bg-base {
  background-color: var(--base);
}

.bg-low-base {
  background-color: var(--lowBase);
}

.bg-high-contrast {
  background-color: var(--highContrast);
}

.bg-contrast {
  background-color: var(--contrast);
}

.bg-low-contrast {
  background-color: var(--lowContrast);
}

.bg-lowest-contrast {
  background-color: var(--lowestContrast);
}

.bg-base-hover {
  background-color: var(--baseHover);
}

.bg-base-active {
  background-color: var(--baseActive);
}

.bg-separator {
  background-color: var(--separator);
}

.bg-header-color {
  background-color: var(--headerColor);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-hover {
  background-color: var(--primaryHover);
}

.bg-primary-active {
  background-color: var(--primaryActive);
}

.bg-primary-clear {
  background-color: var(--primaryClear);
}

.bg-primary-text {
  background-color: var(--primaryText);
}

.bg-imgButton-primary {
  background-color: var(--imgButtonPrimary);
}

.bg-imgButton-primary-hover {
  background-color: var(--imgButtonPrimaryHover);
}

.bg-imgButton-primary-active {
  background-color: var(--imgButtonPrimaryActive);
}
