//  main menu for android and desktop
nav.menu-sidebar,
nav.menu-bottombar {

  .menu-icon {
    width: 27px;
    height: 27px;
    min-width: 27px;
    mask-repeat: no-repeat;
    mask-size: contain;
    float: left;
    background: var(--highContrast);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      outline: 0;

      &:hover {
        background-color: var(--baseHover);
      }

      .has-updates {
        background-color: var(--primary);
        color: var(--primaryText);
        border-radius: 50%;
        float: left;
        font-size: 13px;
        position: absolute;
        top: 12px;
        left: 25px;
        height: 17px;
        width: 17px;
        text-align: center;
        z-index: 5;

        &:empty {
          height: 7px;
          width: 7px;
          left: 33px;
        }
      }

      span {
        display: block;
        margin: .5rem 0 .5rem 1.5rem;
      }
    }
  }

  li {
    .icon-home {
      mask-image: url('/assets/menu-sidebar/home.svg');
    }

    .icon-explore {
      mask-image: url('/assets/menu-sidebar/explore.svg');
    }

    .icon-notifications {
      mask-image: url('/assets/menu-sidebar/notifications.svg');
    }

    .icon-messages {
      mask-image: url('/assets/menu-sidebar/messages.svg');
    }

    .icon-lists {
      mask-image: url('/assets/menu-sidebar/lists.svg');
    }

    .icon-bookmark {
      mask-image: url('/assets/menu-sidebar/bookmark.svg');
    }

    .icon-communities {
      mask-image: url('/assets/menu-sidebar/communities.svg');
    }

    .icon-profile {
      mask-image: url('/assets/menu-sidebar/profile.svg');
    }

    .icon-more {
      mask-image: url('/assets/menu-sidebar/more.svg');
    }

    &.active {
      font-weight: bolder;

      .icon-home {
        mask-image: url('/assets/menu-sidebar/home-active.svg');
      }

      .icon-explore {
        mask-image: url('/assets/menu-sidebar/explore-active.svg');
      }

      .icon-notifications {
        mask-image: url('/assets/menu-sidebar/notifications-active.svg');
      }

      .icon-messages {
        mask-image: url('/assets/menu-sidebar/messages-active.svg');
      }

      .icon-lists {
        mask-image: url('/assets/menu-sidebar/lists-active.svg');
      }

      .icon-bookmark {
        mask-image: url('/assets/menu-sidebar/bookmark-active.svg');
      }

      .icon-communities {
        mask-image: url('/assets/menu-sidebar/communities-active.svg');
      }

      .icon-profile {
        mask-image: url('/assets/menu-sidebar/profile-active.svg');
      }
    }
  }
}

nav.menu-sidebar {
  ul {
    flex-direction: column;

    li {
      padding: .84rem;
      height: 2rem;
      border-radius: 45px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      position: relative;
    }
  }
}

.menu-sidebar ~ .profile-menu,
.menu-sidebar .profile-menu {
  border-radius: 50px;
  display: flex;
  cursor: pointer;
  user-select: none;
  margin: .5rem;
  min-width: var(--menusidebarProfileMinWidth);
  transition: background-color .3s;

  &:hover,
  &:focus {
    background-color: var(--baseHover);
  }

  &:active {
    background-color: var(--baseActive);
  }

  .user-info {
    flex-direction: column;
    white-space: nowrap;
    font-size: 15px;
    overflow: hidden;
    position: relative;

    >span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}