//  main menu for android and desktop
nav.menuSidebar,
nav.menuBottombar {

  .menuIcon {
    width: 27px;
    height: 27px;
    min-width: 27px;
    mask-repeat: no-repeat;
    mask-size: contain;
    float: left;
    background: var(--highContrast);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      outline: 0;

      &:hover {
        background-color: var(--baseHover);
      }

      .hasUpdates {
        background-color: var(--primary);
        color: var(--primaryText);
        border-radius: 50%;
        float: left;
        font-size: 13px;
        position: absolute;
        top: 12px;
        left: 25px;
        height: 17px;
        width: 17px;
        text-align: center;
        z-index: 5;

        &:empty {
          height: 7px;
          width: 7px;
          left: 33px;
        }
      }

      span {
        display: block;
        margin: .5rem 0 .5rem 1.5rem;
      }
    }
  }

  li {
    .iconHome {
      mask-image: url('/assets/menu-sidebar/home.svg');
    }

    .iconExplore {
      mask-image: url('/assets/menu-sidebar/explore.svg');
    }

    .iconNotifications {
      mask-image: url('/assets/menu-sidebar/notifications.svg');
    }

    .iconMessages {
      mask-image: url('/assets/menu-sidebar/messages.svg');
    }

    .iconLists {
      mask-image: url('/assets/menu-sidebar/lists.svg');
    }

    .iconBookmark {
      mask-image: url('/assets/menu-sidebar/bookmark.svg');
    }

    .iconCommunities {
      mask-image: url('/assets/menu-sidebar/communities.svg');
    }

    .iconProfile {
      mask-image: url('/assets/menu-sidebar/profile.svg');
    }

    .iconMore {
      mask-image: url('/assets/menu-sidebar/more.svg');
    }

    &.active {
      font-weight: bolder;

      .iconHome {
        mask-image: url('/assets/menu-sidebar/homeActive.svg');
      }

      .iconExplore {
        mask-image: url('/assets/menu-sidebar/exploreActive.svg');
      }

      .iconNotifications {
        mask-image: url('/assets/menu-sidebar/notificationsActive.svg');
      }

      .iconMessages {
        mask-image: url('/assets/menu-sidebar/messagesActive.svg');
      }

      .iconLists {
        mask-image: url('/assets/menu-sidebar/listsActive.svg');
      }

      .iconBookmark {
        mask-image: url('/assets/menu-sidebar/bookmarkActive.svg');
      }

      .iconCommunities {
        mask-image: url('/assets/menu-sidebar/communitiesActive.svg');
      }

      .iconProfile {
        mask-image: url('/assets/menu-sidebar/profileActive.svg');
      }
    }
  }
}

nav.menuSidebar {
  ul {
    flex-direction: column;
    max-width: 95%;

    li {
      padding: .84rem;
      height: 2rem;
      border-radius: 45px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      position: relative;
    }
  }
}

.menuSidebar ~ .profileMenu,
.menuSidebar .profileMenu {
  border-radius: 50px;
  display: flex;
  cursor: pointer;
  user-select: none;
  margin: .5rem;
  min-width: var(--menu-sidebarProfileMinWidth);
  transition: background-color .3s;

  &:hover,
  &:focus {
    background-color: var(--baseHover);
  }

  &:active {
    background-color: var(--baseActive);
  }

  .userInfo {
    flex-direction: column;
    white-space: nowrap;
    font-size: 15px;
    overflow: hidden;
    position: relative;

    > span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}