.popover {
  background-color: var(--base);
  border-radius: 15px;
  position: relative;
  z-index: 40;
  box-shadow: var(--baseActive) 0px 0px 15px, var(--baseActive) 0px 0px 3px 1px;

  --arrowSize: 6px;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;

    box-sizing: border-box;
    
    border: var(--arrowSize) solid;
    border-color: transparent transparent var(--base) var(--base);
    
    transform-origin: 0 0;
    
    box-shadow: -3px 3px 3px 0 var(--baseActive);
  }
  
  &.bottom {
    &::after {
      bottom: calc(var(--arrowSize) * -2);
      left: calc(50% - (var(--arrowSize) / 2));
      transform: rotate(-45deg);
    }
  }

  &.top {
    &::after {
      top: calc(var(--arrowSize) - (var(--arrowSize) / 2));
      left: calc(50% - (var(--arrowSize) / 2));
      transform: rotate(135deg);
    }
  }

  &.right {
    &::after {
      right: calc(var(--arrowSize) * -2);
      top: calc(50% + var(--arrowSize));
      transform: rotate(-135deg);
    }
  }

  &.left {
    &::after {
      left: calc(var(--arrowSize) - (var(--arrowSize) / 2));
      top: calc(50% - (var(--arrowSize) / 2));
      transform: rotate(45deg);
    }
  }
}