//  este componente scss não pode ser apenas de seu componente angular
//  pois contém elementos gerados de string como filhos e scss associado ao componente
//  limita o scss ao html do template
.profile-container {
  .user-info,
  .additional-information {
    padding: 0 1rem;
  }
  
  .bio,
  .follow-container,
  .edit-profile-container {
    padding: 1rem;
  }

  .user-info {
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .edit-profile-container {
    display: flex;
    height: 35px;
    justify-content: space-between;

    img.profile {
      width: 100px;
      height: 100px;
      position: relative;
      top: -5rem;
    }

    button.button {
      font-size: 13px;
      padding: 0.5rem 1rem;
      border-radius: 15px;
    }
  }

  .cover {
    height: 150px;

    img {
      max-height: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  .bio p {
    margin: 2px 0;
  }

  .additional-information {
    display: flex;

    > * {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      color: var(--lowContrast);
    }

    .inline-icon {
      margin: 0 0.15rem 0 0;
    }
  }

  .follow-container {
    a {
      strong {
        color: var(--contrast);
      }

      span {
        color: var(--lowContrast);
      }
    }
    a ~ a {
      margin-left: 1rem;
    }
  }
}