button.svg-button {
  min-height: 17px;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;

  .svg-wrapper {
    border-radius: 50%;
    padding: .5rem;

    div[role=img] {
      mask-size: cover;
      width: 17.2px;
      min-height: 17px;
      background-color: var(--lowContrast);
    }
  }

  &:disabled {
    div[role=img] {
      opacity: .5;
      cursor: default;
    }
  }
  
  &:not([disabled]) {
    &:hover,
    &:active {
      div[role=img] {
        background-color: var(--imgButtonDefault) !important;
        transition: background-color 0.3s;
      }
    }
  
    &:hover .svg-wrapper {
      background-color: var(--imgButtonDefaultHover);
      transition: background-color 0.3s;
    }
  
    &:active .svg-wrapper {
      background-color: var(--imgButtonDefaultActive);
      transition: background-color 0.3s;
    }
  }
}

.inline-icon {
  display: inline-flex;
  height: 20px;
  width: 20px;

  [role=img] {
    height: 20px;
    width: 20px;
    background-color: var(--lowContrast);
    display: inline-block;
  }
}

// generic icons
.icon-back {
  div[role=img] {
    mask-image: url('/assets/back.svg');
  }
}

.icon-upload-image {
  div[role=img] {
    mask-image: url('/assets/write-tweet/upload-image.svg');
  }
}

.icon-gif {
  div[role=img] {
    mask-image: url('/assets/write-tweet/gif.svg');
  }
}

.icon-poll {
  div[role=img] {
    mask-image: url('/assets/write-tweet/poll.svg');
  }
}

.icon-emoticon {
  div[role=img] {
    mask-image: url('/assets/write-tweet/emoticon.svg');
  }
}

.icon-location {
  div[role=img] {
    mask-image: url('/assets/location.svg');
  }
}

.icon-calendar {
  div[role=img] {
    mask-image: url('/assets/calendar.svg');
  }
}

.icon-link {
  div[role=img] {
    mask-image: url('/assets/link.svg');
  }
}

.icon-close {
  div[role=img] {
    mask-image: url('/assets/close.svg');
  }
}

