///
/// clickable svg
///
/// @group Components
/// @class button.svg-button
///
/// @example
/// ```
/// <button title="upload image" type="button" class="icon-upload-image svg-button">
///   <div class="svg-wrapper">
///     <div role="img"></div>
///   </div>
/// </button>
/// ```
///
button.svg-button {
  min-height: 17px;
  max-height: 33px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;

  .svg-wrapper {
    border-radius: 50%;
    padding: .5rem;

    div[role=img] {
      width: 17.2px;
      min-height: 17px;
      background-color: var(--lowContrast);
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }

  &:disabled {
    div[role=img] {
      opacity: .5;
      cursor: default;
    }
  }

  &:not([disabled]) {

    &:hover,
    &:active {
      &.bordered {
        border: 1px solid var(--primary); 
      }

      div[role=img] {
        background-color: var(--imgButtonDefault) !important;
        transition: background-color .3s;
      }
    }

    &:hover .svg-wrapper {
      background-color: var(--imgButtonDefaultHover);
      transition: background-color .3s;
    }

    &:active .svg-wrapper {
      background-color: var(--imgButtonDefaultActive);
      transition: background-color .3s;
    }
  }
}

///
/// svg as inline icon
///
/// @group Components
/// @class .inline-icon
/// 
/// @example
/// ```
/// <div class="inline-icon icon-location">
///   <div role="img"></div>
/// </div>
/// ```
///
.inline-icon {
  display: inline-flex;
  height: 20px;
  width: 20px;

  [role=img] {
    height: 20px;
    width: 20px;
    background-color: var(--lowContrast);
    display: inline-block;
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}
