///
/// container with user name, nip5 and if nip5 is valid
///
/// @group Components
/// @class .user-info
///
/// @example
/// ```
///  <div class="user-info">
///    <span class="user-name">
///      António Vicente Mendes Maciel
///      <span class="user-verified"></span>
///    </span>
///    <span class="user-nip5">@anarcanudos</span>
///  </div>
/// ```
///
.user-info {
  .user-name {
    color: var(--contrast);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .user-verified {
      display: inline-block;
      position: relative;
      top: 3px;
    }
  }

  .user-nip5 {
    color: var(--lowContrast);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}