///
/// container with user name, nip5 and if nip5 is valid
///
/// @group Components
/// @class .user-info
///
/// @example
/// ```
///  <div class="user-info">
///    <span class="user-name">
///      {{profile.display_name || profile.name}}
///      <span *ngIf="profile.nip05valid" class="user-verified"></span>
///    </span>
///    <span *ngIf="profile.nip05" class="user-nip5">{{profile.nip05}}</span>
///  </div>
/// ```
///
.user-info {
  .user-name {
    color: var(--contrast);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user-nip5 {
    color: var(--lowContrast);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}