///
/// show that nip5 is valid
///
/// @group Components
/// @class .user-verified
///
/// @example
/// ```
///  <div class="user-info">
///    <span class="user-name">
///      {{profile.display_name || profile.name}}
///      <span *ngIf="profile.nip05valid" class="user-verified"></span>
///    </span>
///    <span *ngIf="profile.nip05" class="user-nip5">{{profile.nip05}}</span>
///  </div>
/// ```
///
.user-verified {
  mask-image: url('/assets/profile/verified.svg');
  height: 17px;
  width: 17px;
  min-height: 17px;
  min-width: 17px;
  background-color: var(--imgButtonDefault);
}