body {
  //  default, mobile
  --menusidebarWidth: 0px;
  --menusidebarDisplay: none;
  --menusidebarMobileDisplay: block;
  --menusidebarDisplayLabels: none;
  --menusidebarDisplayFlexLabels: none;
  --menusidebarDisplayTweetButtonIcon: none;
  --menusidebarTweetButtonWidth: 0px;
  --menusidebarProfileMinWidth: 0px;
  --menusidebarProfileMargin: 0.6rem;

  //  intermediary
  @media screen and (min-width: 800px) and (max-width: 1200px) {
    --menusidebarWidth: 59px;
    --menusidebarMobileDisplay: none;
    --menusidebarDisplay: flex;
    --menusidebarDisplayTweetButtonIcon: block;
    --menusidebarTweetButtonWidth: 55px;
  }

  //  desktop
  @media screen and (min-width: 1200px) {
    --menusidebarWidth: 275px;
    --menusidebarDisplay: flex;
    --menusidebarMobileDisplay: none;
    --menusidebarDisplayLabels: block;
    --menusidebarDisplayFlexLabels: flex;
    --menusidebarDisplayTweetButtonIcon: none;
    --menusidebarTweetButtonWidth: 90%;
    --menusidebarProfileMinWidth: 72px;
    --menusidebarProfileMargin: .75rem;
  }
}
