<article class="read-tweet separator" *ngFor="let tweet of tweets; trackBy: trackByTweetId">
  <span>{{tweet.content}}</span>

  <div class="tweet-button-group">
    <button class="reply">
      <div role="img"></div>
      <span>{{10_000_000 | amount}}</span>
    </button>
    <button class="retweet">
      <div role="img"></div>
      <span>{{354545454 | amount}}</span>
    </button>
    <button class="like">
      <div role="img"></div>
      <span>{{63_231 | amount}}</span>
    </button>
    <button class="view">
      <div role="img"></div>
      <span>{{12353 | amount}}</span>
    </button>
    <button class="share">
      <div role="img"></div>
    </button>
  </div>
</article>