.read-tweet {
  padding: .75rem;
}

.tweet-button-group {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  button {
    min-height: 17px;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    > div[role=img] {
      mask-size: cover;
      width: 17.2px;
      min-height: 17px;
      background-color: var(--lowContrast);
    }

    > span {
      color: var(--lowContrast);
      font-size: 12px;
      margin-left: 1rem;
    }
  }

  .reply {
    > div[role=img] {
      mask-image: url('/assets/read-tweet/reply.svg');
    }
  }
  
  .retweet {
    > div[role=img] {
      mask-image: url('/assets/read-tweet/retweet.svg');
    }
  }
  
  .like {
    > div[role=img] {
      mask-image: url('/assets/read-tweet/like.svg');
    }
  }
  
  .view {
    > div[role=img] {
      mask-image: url('/assets/read-tweet/view.svg');
    }
  }
  
  .share {
    > div[role=img] {
      mask-image: url('/assets/read-tweet/share.svg');
    }
  }
}
