:host {
  display: var(--menusidebarDisplay);
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  max-width: var(--menusidebarWidth);
  height: 100%;
  position: fixed;
  z-index: 1;
}

header {
  img {
    width: 48px;
    margin: .25rem;
  }
}

button.tweet {
  margin: 1rem auto;
  width: var(--menusidebarTweetButtonWidth);
  height: 55px;
  padding: 1rem;

  > div.icon-tweet {
    display: var(--menusidebarDisplayTweetButtonIcon);
    background: var(--primaryText);
    mask-image: url('/assets/menu-sidebar/tweet.svg');
  }

  > span {
    display: var(--menusidebarDisplayLabels);
  }
}

.menu-sidebar {
  li {
    span {
      display: var(--menusidebarDisplayLabels);
      margin: .5rem 0 .5rem 1.5rem;
    }
  }
}

.profile-menu {
  align-items: center;
  min-width: 235px;

  .login-button,
  .profile {
    margin: var(--menusidebarProfileMargin);
  }

  .user-info {
    display: var(--menusidebarDisplayFlexLabels);
    flex: 1 1 0;
  }

  .ellipsis {
    display: var(--menusidebarDisplayLabels);
    background: var(--highContrast);
    mask-image: url('/assets/ellipsis.svg');
    min-width: 19px;
    min-height: 19px;
    max-width: 19px;
    max-height: 19px;
    margin: .5rem;
    margin-right: 1rem;
  }

  .auth-popover {
    bottom: 85px;
    width: 300px;
  }
}