<nav class="menu-sidebar">
  <header>
    <img src="/assets/logo/dark-logo.png" />
  </header>
  <ul>
    <li class="active" role="link" routerLink="/home">
      <div class="has-updates"></div>
      <div title="Home" class="menu-icon home"></div>
      <span>Home</span>
    </li>
    <li role="link" routerLink="/explore">
      <div title="Explore" class="menu-icon explore"></div>
      <span>Explore</span>
    </li>
    <li role="link" routerLink="/notifications">
      <div class="has-updates">5</div>
      <div title="Notifications" class="menu-icon notifications"></div>
      <span>Notifications</span>
    </li>
    <li role="link" routerLink="/messages">
      <div class="has-updates">3</div>
      <div title="Messages" class="menu-icon messages"></div>
      <span>Messages</span>
    </li>
    <li role="link" routerLink="/lists">
      <div title="Lists" class="menu-icon list"></div>
      <span>Lists</span>
    </li>
    <li role="link" routerLink="/bookmarks">
      <div title="Bookmark" class="menu-icon bookmark"></div>
      <span>Bookmark</span>
    </li>
    <li role="link" routerLink="/communities">
      <div title="Communities" class="menu-icon communities"></div>
      <span>Communities</span>
    </li>
    <li role="link" routerLink="/profile">
      <div title="Profile" class="menu-icon profile"></div>
      <span>Profile</span>
    </li>
    <li role="link">
      <div title="More" class="menu-icon more"></div>
      <span>More</span>
    </li>
  </ul>
  <button title="Tweet" type="button" class="button tweet">
    <div class="menu-icon tweet"></div>
    <span>Tweet</span>
  </button>
</nav>

<div role="button" class="profile-menu">
  <img class="picture" src="/assets/profile/default_profile.png" />
  <div class="user-info">
    <span class="user-name">José Exemplo dos Santos Silva Nelson Pereira Oliveira</span>
    <span class="user-nip5">@nelson</span>
  </div>
  <span class="user-verified"></span>
  <div class="ellipsis"></div>
</div>