<nav class="menu-sidebar">
  <header>
    <img alt="twitter logo" title="twitter logo" src="/assets/logo/dark-logo.png" />
  </header>
  <ul>
    <li tabindex="101" [class.active]="menuActive === MENU_TYPE_HOME" role="link" routerLink="/home">
      <div class="has-updates"></div>
      <div title="Home" class="menu-icon icon-home"></div>
      <span>Home</span>
    </li>
    <li tabindex="102" [class.active]="menuActive === MENU_TYPE_EXPLORE" role="link" routerLink="/explore">
      <div title="Explore" class="menu-icon icon-explore"></div>
      <span>Explore</span>
    </li>
    <li tabindex="103" [class.active]="menuActive === MENU_TYPE_NOTIFICATIONS" role="link" routerLink="/notifications">
      <div class="has-updates">5</div>
      <div title="Notifications" class="menu-icon icon-notifications"></div>
      <span>Notifications</span>
    </li>
    <li tabindex="104" [class.active]="menuActive === MENU_TYPE_MESSAGES" role="link" routerLink="/messages">
      <div class="has-updates">3</div>
      <div title="Messages" class="menu-icon icon-messages"></div>
      <span>Messages</span>
    </li>
    <li tabindex="105" [class.active]="menuActive === MENU_TYPE_LISTS" role="link" routerLink="/lists">
      <div title="Lists" class="menu-icon icon-lists"></div>
      <span>Lists</span>
    </li>
    <li tabindex="106" [class.active]="menuActive === MENU_TYPE_BOOKMARKS" role="link" routerLink="/bookmarks">
      <div title="Bookmark" class="menu-icon icon-bookmark"></div>
      <span>Bookmark</span>
    </li>
    <li tabindex="107" [class.active]="menuActive === MENU_TYPE_COMMUNITIES" role="link" routerLink="/communities">
      <div title="Communities" class="menu-icon icon-communities"></div>
      <span>Communities</span>
    </li>
    <li tabindex="108" *ngIf="profile && profile.npub" [class.active]="menuActive === MENU_TYPE_PROFILE" role="link" routerLink="/#/p/{{profile.npub}}">
      <div title="Profile" class="menu-icon icon-profile"></div>
      <span>Profile</span>
    </li>
    <li tabindex="109" role="link">
      <div title="More" class="menu-icon icon-more"></div>
      <span>More</span>
    </li>
  </ul>
  <button (click)="openTweetCompose()" title="Tweet" type="button" class="button tweet">
    <div class="menu-icon icon-tweet"></div>
    <span>Tweet</span>
  </button>
</nav>

<div (click)="onProfileMenuClick(profile)" role="button" class="profile-menu" [class.bordered]="!profile">
  <tw-popover class="auth-popover has-arrow bottom" #authPopover>
    <ul class="popover-list">
      <li (click)="addExistingAccount($event)" role="button">Add existing account</li>
      <li (click)="logout($event)" role="button">Logout</li>
    </ul>
  </tw-popover>
  <ng-container *ngIf="profile">
    <tw-profile-picture [profile]="profile"></tw-profile-picture>
    <div class="user-info">
      <span class="user-name">
        {{profile.display_name || profile.name}}
        <span *ngIf="profile.nip05valid" class="user-verified"></span>
      </span>
      <span *ngIf="profile.nip05" class="user-nip5">{{profile.nip05}}</span>
    </div>
  </ng-container>
  <ng-container *ngIf="!profile">
    <button title="login" type="button" class="login-button icon-unlock svg-button bordered">
      <div class="svg-wrapper">
        <div alt="login" role="img"></div>
      </div>
    </button>
    <div class="user-info">Authenticate</div>
  </ng-container>
  <div class="ellipsis"></div>
</div>