:host {
  display: block;
  background-color: rgba(255, 255, 255, .1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}

.modal {
  margin: 3rem auto;
  display: block;
  width: 600px;
  background-color: var(--base);
  border-radius: 20px;

  header {
    padding: .75rem;
    display: flex;
    align-items: center;

    h1 {
      margin-left: 1rem;
    }
  }

  > div {
    padding: 1rem;
  }
}