:host {
  display: flex;
  justify-content: center;
  align-items: var(--modalAlign);
  background-color: var(--backgroundOverlap);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}

.modal {
  margin: 0 auto;
  display: block;
  width: 600px;
  background-color: var(--base);
  border-radius: var(--modalBorderRadius);

  header {
    padding: .75rem;
    display: flex;
    align-items: center;

    h1 {
      margin-left: 1rem;
    }
  }

  > div {
    padding: 1rem;
  }
}