<p>Insert the PIN to open the Nostr Secret and authenticate</p>

<section *ngIf="account" class="unauthenticated-account">
  <img title="profile picture" alt="profile picture" class="profile" [src]="account.picture || '/assets/profile/default-profile.png'" />
  <div class="user-info">
    <span class="user-name">
      {{account.displayName}}
      <span *ngIf="account.nip05valid" class="user-verified"></span>
    </span>
    <span *ngIf="account.nip05" class="user-nip5">{{account.nip05}}</span>
  </div>
</section>

<form [formGroup]="authenticateForm" (submit)="onAuthenticateSubmit($event)" novalidate autocomplete="off">
  <div class="floating-label pin-field">
    <input
      #pin
      required
      name="pin"
      tabindex="1"
      maxlength="6"
      formControlName="pin"
      id="authenticatePinField"
      [class.has-value]="pin.value"
      [attr.type]="showPin ? 'text' : 'password'"
    />
  
    <label for="authenticatePinField">Pin</label>
  
    <button
      type="button"
      tabindex="4"
      [attr.title]="showPin ? 'hide pin' : 'show pin'"
      [class.icon-show]="!showPin"
      [class.icon-hide]="showPin"
      (click)="showPin = !showPin"
      class="bordered icon-info svg-button"
    >
      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>
  </div>

  <div class="button-group">
    <button type="submit" tabindex="2" title="authenticate" class="action-button button secondary iconed-button">
      <div *ngIf="!loading" class="inline-icon icon-unlock">
        <div role="img"></div>
      </div>
  
      <tw-loading *ngIf="loading"></tw-loading>
  
      <span>
        Authenticate
      </span>
    </button>
  
    <button (click)="changeStep.next('select-account')" type="button" tabindex="3" title="back" class="action-button button secondary iconed-button">
      <div class="inline-icon icon-back">
        <div role="img"></div>
      </div>
  
      <span>
        Back
      </span>
    </button>
  </div>
</form>