<button class="reply svg-button">
  <div class="svg-wrapper">
    <div role="img"></div>
  </div>
  <span class="amount">{{10_000_000 | amount}}</span>
</button>
<button class="retweet svg-button active">
  <div class="svg-wrapper">
    <div role="img"></div>
  </div>
  <span class="amount">{{354545454 | amount}}</span>
</button>
<button class="like svg-button active">
  <div class="svg-wrapper">
    <div role="img"></div>
  </div>
  <span class="amount">{{63_231 | amount}}</span>
</button>
<button class="view svg-button">
  <div class="svg-wrapper">
    <div role="img"></div>
  </div>
  <span class="amount">{{12353 | amount}}</span>
</button>
<button class="share svg-button">
  <div class="svg-wrapper">
    <div role="img"></div>
  </div>
</button>

  