:host {
  display: flex;
  justify-content: space-between;

  button.svg-button {
    > .amount {
      color: var(--lowContrast);
      font-size: 12px;
      margin-left: .5rem;
    }

    &.reply {
      div[role=img] {
        mask-image: url('/assets/read-tweet/reply.svg');
      }
    }

    &.retweet {
      div[role=img] {
        mask-image: url('/assets/read-tweet/retweet.svg');
      }

      &.active {
        .amount {
          color: var(--imgButtonRetweet);
        }

        div[role=img] {
          mask-image: url('/assets/read-tweet/retweet-active.svg');
          background-color: var(--imgButtonRetweet);
        }
      }

      &:hover,
      &:active {
        div[role=img] {
          background-color: var(--imgButtonRetweet) !important;
        }
      }

      &:hover {
        .svg-wrapper {
          background-color: var(--imgButtonRetweetHover);
        }
      }
  
      &:active {
        .svg-wrapper {
          background-color: var(--imgButtonRetweetActive);
        }
      }
    }

    &.like {
      div[role=img] {
        mask-image: url('/assets/read-tweet/like.svg');
      }

      &.active {
        .amount {
          color: var(--imgButtonLike);
        }

        div[role=img] {
          mask-image: url('/assets/read-tweet/like-active.svg');
          background-color: var(--imgButtonLike);
        }
      }

      &:hover,
      &:active {
        div[role=img] {
          background-color: var(--imgButtonLike) !important;
        }
      }

      &:hover {
        .svg-wrapper {
          background-color: var(--imgButtonLikeHover);
        }
      }

      &:active {
        .svg-wrapper {
          background-color: var(--imgButtonLikeActive);
        }
      }
    }

    &.view {
      div[role=img] {
        mask-image: url('/assets/read-tweet/view.svg');
      }
    }
    
    &.share {
      div[role=img] {
        mask-image: url('/assets/read-tweet/share.svg');
      }
    }
  }
}
