<ng-container *ngIf="tweet">

  <ng-container *ngIf="isFull">
    <span [innerHTML]="tweet.htmlFullView"></span>
  </ng-container>
  <ng-container *ngIf="!isFull">
    <span [innerHTML]="tweet.htmlSmallView"></span>
    <a role="button" *ngIf="showMoreTextButton()">Show more</a>
  </ng-container>

  <figure *ngIf="tweet.imgMatriz && showImages">
    <div
      *ngFor="let touple of tweet.imgMatriz"
      class="img-wrapper"
    >
    <ng-container *ngFor="let img of touple">
      <div
        *ngIf="img"
        class="img"
        (click)="imgOpen.next({ tweet, img })"
        [style.background-image]="'url(' + (img | proxifyImage) + ')'"
      ></div>
    </ng-container>
    </div>
  </figure>
</ng-container>
