@let account = getAccount(tweet.viewModel.author?.pubkey);

<article class="readTweet separator">
  <a *ngIf="!isFull && tweet.reposted?.size && account" href="javascript:void(0)" class="retweetOrigin">
    {{account.displayName}} has retweeted
  </a>

  <div [class.small]="!isFull" class="tweetStructure">
    <header class="fullHeader">
      <nostr-profile-picture [account]="account"></nostr-profile-picture>

      @if (isFull) {
        <address *ngIf="account" class="author">
          <span class="userName">
            {{account.displayName}}
            <span *ngIf="account.nip05?.valid" class="userVerified"></span>
          </span>
          <span *ngIf="account.nip05?.address" class="userNip5">
            {{account.nip05?.address}}
          </span>
        </address>
  
        <button #popoverTrigger (click)="openTweetContextMenu(tweet, popoverTrigger)" class="svgButton borderless">
          <nostr-svg-render name="ellipsis"></nostr-svg-render>
        </button>
      }
    </header>
    <div class="tweetMetadata">
      <header class="smallHeader" *ngIf="!isFull">
        <address *ngIf="account" class="author userInfo">
          <span class="userName">
            {{account.displayName}}
            <span *ngIf="account.nip05?.valid" class="userVerified"></span>
          </span>
          <span *ngIf="account.nip05?.address" class="userNip5">
            {{account.nip05?.address}}
          </span>
          <time *ngIf="tweet.viewModel.createdAt" [attr.datetime]="tweet.viewModel.createdAt | datetimeIso">{{tweet.viewModel.createdAt | datetimeSmall}}</time>
        </address>

        <button #popoverTrigger (click)="openTweetContextMenu(tweet, popoverTrigger)" class="svgButton borderless">
          <nostr-svg-render name="ellipsis"></nostr-svg-render>
        </button>
      </header>

      <tw-tweet-content
        class="tweetContent"
        [class.isFull]="isFull"
        [tweet]="tweet"
        [isFull]="isFull"
        (imgOpen)="onImgOpen($event)"
      ></tw-tweet-content>

      <tw-tweet-button-group [tweet]="tweet"></tw-tweet-button-group>
    </div>
  </div>
</article>