<header class="separator">
  <h1>Home</h1>
  <div class="mobile-header">
    <nostr-profile-picture [tabindex]="1" [profile]="authProfile" (click)="openSideMenu()"></nostr-profile-picture>
    <img alt="logo" title="logo" class="logo" src="/assets/twitter.svg" />
  </div>

  <nav class="list-menu">
    <a tabindex="2" class="active">
      <span>Following</span>
      <div class="underscore"></div>
    </a>
    <a tabindex="3">
      <span>Global</span>
      <div class="underscore"></div>
    </a>
  </nav>
</header>
<div class="header-height"></div>

<section>
  <tw-tweet-write></tw-tweet-write>
  <div tabindex="4" role="link" class="show-more separator">
    Show 280 posts
  </div>
  
  <tw-tweet-list></tw-tweet-list>
</section>