<header class="separator">
  <h1>Home</h1>
  <div class="mobileHeader">
    <nostr-profile-picture [tabindex]="1" [account]="account" (click)="openSideMenu()"></nostr-profile-picture>
    <img alt="logo" title="logo" class="logo" src="/assets/twitter.svg" />
  </div>

  <nav class="listMenu">
    <a tabindex="2" class="active">
      <span>Following</span>
      <div class="underscore"></div>
    </a>
    <a tabindex="3">
      <span>Global</span>
      <div class="underscore"></div>
    </a>
  </nav>
</header>
<div class="headerHeight"></div>

<section>
  <!-- FIXME: <tw-tweet-write></tw-tweet-write> -->
  <div tabindex="4" role="link" class="showMore separator">
    Show 280 posts
  </div>
  
  <!-- FIXME: <tw-tweet-list></tw-tweet-list> -->
</section>