<header class="separator">
  <h1>Home</h1>
  <div class="mobile-header">
    <img title="profile picture" (click)="openSideMenu()" class="profile" src="/assets/profile/default-profile.png" />
    <img title="logo" class="logo" src="/assets/twitter.svg" />
  </div>

  <nav class="list-menu">
    <a class="active">
      <span>Following</span>
      <div class="underscore"></div>
    </a>
    <a>
      <span>Global</span>
      <div class="underscore"></div>
    </a>
  </nav>
</header>
<div class="header-height"></div>

<section>
  <tw-tweet-write></tw-tweet-write>
  <div role="link" class="show-more separator">
    Show 280 posts
  </div>
  
  <tw-tweet-list></tw-tweet-list>
</section>