header {
  position: fixed;
  background-color: var(--headerColor);
  backdrop-filter: blur(12px);
  width: var(--mainWidth);
  z-index: 10;

  h1 {
    display: var(--headingDesktopDisplay);
    padding: 23px 16px;
  }

  .mobile-header {
    display: var(--headingMobileDisplay);

    nostr-profile-picture {
      position: absolute;
      float: left;
      width: 30px;
      height: 30px;
      margin: 1rem;
    }

    .logo {
      height: 25px;
      margin: 1rem auto;
      display: block;
    }
  }
}

tw-tweet-write {
  display: var(--embededWriteTweetDisplay);
}

.header-height {
  height: 123px;
}

.show-more {
  padding: 15px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: var(--primary);

  &:hover {
    background-color: var(--baseHover);
  }
}