<div class="writing-tweet-button-tray">
  <button type="button" class="icon-upload-image svg-button">
    <div class="svg-wrapper">
      <div role="img"></div>
    </div>
  </button>
  
  <button type="button" class="icon-gif svg-button">
    <div class="svg-wrapper">
      <div role="img"></div>
    </div>
  </button>
  
  <button type="button" class="icon-poll svg-button">
    <div class="svg-wrapper">
      <div role="img"></div>
    </div>
  </button>
  
  <button (click)="toggleEmojiMart()" type="button" class="icon-emoticon svg-button">
    <div class="svg-wrapper">
      <div role="img"></div>
    </div>
  </button>
  
  <button type="button" disabled class="icon-location svg-button">
    <div class="svg-wrapper">
      <div role="img"></div>
    </div>
  </button>
</div>  

<button type="button" class="button tweet">Tweet</button>
<emoji-mart
  #emojiMart
  set="twitter"
  [class.hidden]="!emojiMartOpen"
  class="emoji-mart"
  (emojiSelect)="addEmoji($event)"
  [darkMode]="isDarkMode()"
  [emojiTooltip]="true"
></emoji-mart>