<tw-popover class="tweetContextMenu" [selfCloseOnOutClick]="true" #tweetActions [style.top.px]="triggerPosition?.top" [style.left.px]="triggerPosition?.left">
  <ul *ngIf="tweet" class="popoverList">
    <li (click)="delete(tweet)" role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/options/unfollow"></nostr-svg-render>
      Delete
    </li>
    <li (click)="pin(tweet)" role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/options/pinTweet"></nostr-svg-render>
      Pin to your Profile
    </li>
    @if (account) {
      <li (click)="toggleFollowUser(account)" role="button">
        <nostr-svg-render class="inlineIcon" name="readTweet/options/unfollow"></nostr-svg-render>
        Unfollow &#64;{{account.displayName}}
      </li>
      <li (click)="manageUserInLists(account)" role="button">
        <nostr-svg-render class="inlineIcon" name="readTweet/options/addList"></nostr-svg-render>
        Add/Remove &#64;{{account.displayName}} from Lists
      </li>
      <li (click)="silenceUser(account)" role="button">
        <nostr-svg-render class="inlineIcon" name="readTweet/options/silence"></nostr-svg-render>
        Silence &#64;{{account.displayName}}
      </li>
      <li (click)="blockUser(account)" role="button">
        <nostr-svg-render class="inlineIcon" name="readTweet/options/block"></nostr-svg-render>
        Block &#64;{{account.displayName}}
      </li>
      <li (click)="reportUser(account)" role="button">
        <nostr-svg-render class="inlineIcon" name="readTweet/options/report"></nostr-svg-render>
        Report &#64;{{account.displayName}}
      </li>
    }
    <li (click)="eventDetails(tweet)" role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/view"></nostr-svg-render>
      Event detail
    </li>
  </ul>
</tw-popover>