<div class="search-input">
  <div class="search-svg"></div>
  <input title="Search" placeholder="Search" type="search" />
</div>
<div class="search-input-height"></div>

<tw-live-spaces-shortcut class="side-container"></tw-live-spaces-shortcut>
<tw-trending-topics-shortcut class="side-container"></tw-trending-topics-shortcut>
<tw-follow-suggestions class="side-container"></tw-follow-suggestions>

<footer class="terms">
  <a href="https://github.com/antonioconselheiro/twitter-parody/issues">Found a bug?</a> · <a href="https://raw.githubusercontent.com/antonioconselheiro/twitter-parody/master/LICENSE" target="_BLANK">All rights open under unlicense license</a> · <span>Maranata</span> · <span (click)="terms()">Jesus is coming</span>
</footer>
