<div class="searchInput">
  <div class="searchSvg"></div>
  <input title="Search" placeholder="Search" type="search" />
</div>
<div class="searchInputHeight"></div>

<tw-live-spaces-shortcut class="sideContainer"></tw-live-spaces-shortcut>
<tw-trending-topics-shortcut class="sideContainer"></tw-trending-topics-shortcut>
<tw-follow-suggestions class="sideContainer"></tw-follow-suggestions>

<footer class="terms">
  <a href="https://raw.githubusercontent.com/antonioconselheiro/twitter-parody/master/LICENSE" target="_BLANK">All rights open under ungovernable license</a> · <a target="_BLANK" href="https://github.com/antonioconselheiro/twitter-parody/issues">Found a bug?</a> · <a target="_BLANK" href="https://www.bible.com/bible/1/REV.20.KJV">Maranata, King Jesus is coming</a> · <a target="_BLANK" href="https://www.bible.com/bible/1/EXO.20.KJV">Terms of Use of Reality</a>
</footer>
