<header class="header-backable">
  <div>
    <button type="button" class="icon-back svg-button">
      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>
  </div>
  <div class="user-info">
    <span class="user-name">
      José Exemplo dos Santos Silva Nelson Pereira Oliveira
      <span class="user-verified"></span>
    </span>
    <span class="color-lowest-contrast">13,5 mil tweets</span>
  </div>
</header>
<section class="profile-container">
  <div class="cover">
    <img src="/assets/profile/default-cover.jpg" />
  </div>
  <div class="edit-profile-container">
    <img class="profile" src="/assets/profile/default_profile.png" />

    <button class="button secondary">Edit profile</button>
  </div>
  <div class="user-info">
    <span class="user-name">
      José Exemplo dos Santos Silva Nelson Pereira Oliveira
      <span class="user-verified"></span>
    </span>
    <span class="user-nip5">@nelson</span>
  </div>
  <div class="bio" [innerHTML]="bio | tweetHtmlfy">
  </div>
</section>