<ng-container *ngIf="viewing">
  <header class="headerBackable">
    <div>
      <button (click)="goHome()" title="back" type="button" class="svgButton">
        <nostr-svg-render name="left"></nostr-svg-render>
      </button>
    </div>
    <div class="userInfo">
      <span class="userName">
        {{viewing.metadata?.display_name || viewing.metadata?.name}}
        <span *ngIf="viewing.isNip05Valid" class="userVerified"></span>
      </span>
      <span class="colorLowestContrast">13,5 mil tweets</span>
    </div>
  </header>
  <section class="profileContainer">
    <div class="banner" [style.backgroundImage]="getProfileBanner()">
    </div>
    <div class="editProfileContainer">
      <nostr-profile-picture [account]="viewing"></nostr-profile-picture>
  
      <button *ngIf="authenticated?.npub === viewing.npub" class="button secondary">Edit profile</button>
    </div>
    <div class="userInfo">
      <span class="userName">
        {{viewing.metadata?.display_name || viewing.metadata?.name}}
        <span *ngIf="viewing.isNip05Valid" class="userVerified"></span>
      </span>
      <span *ngIf="viewing.metadata?.nip05" class="userNip5">{{viewing.metadata?.nip05}}</span>
    </div>
    <!-- FIXME: preciso enviar o htmlAbout de outra maneira, ou processa-lo aqui mesmo, não sei
     <div class="bio" [innerHTML]="viewing.metadata?.htmlAbout"></div>
     -->
    <div class="additional-information">
      <span *ngIf="viewing.metadata?.['location']">
        <nostr-svg-render class="inlineIcon" name="location"></nostr-svg-render>
        <span>{{viewing.metadata?.['location']}}</span>
      </span>
      <span *ngIf="viewing.metadata?.website">
        <nostr-svg-render class="inlineIcon" name="link"></nostr-svg-render>
        <a [href]="viewing.metadata?.website">{{viewing.metadata?.website}}</a>
      </span>
      <!-- FIXME: de onde eu tiro a informação de quando o usuário criou sua conta no nostr?
      <span *ngIf="viewing.metadata?.created_at">
        <nostr-svg-render class="inlineIcon" name="calendar"></nostr-svg-render>
        <span>Joined in August 2021</span>
      </span> -->
    </div>
    <div class="followContainer">
      <a role="button"><strong>2.324</strong><span> following</span></a>
      <a role="button"><strong>2.324</strong><span> followers</span></a>
    </div>
  </section>
  <nav class="listMenu separator">
    <a class="active">
      <span>Tweets</span>
      <div class="underscore"></div>
    </a>
    <a>
      <span>Replies</span>
      <div></div>
    </a>
    <a>
      <span>Midia</span>
      <div></div>
    </a>
    <a>
      <span>Likes</span>
      <div></div>
    </a>
  </nav>
  <section>
    <!-- FIXME: <tw-tweet-list [loading]="loading" [tweets]="tweets"></tw-tweet-list> -->
  </section>
</ng-container>