<ng-container *ngIf="profile">
  <header class="header-backable">
    <div>
      <button (click)="goHome()" title="back" type="button" class="icon-back svg-button">
        <div class="svg-wrapper">
          <div alt="back" role="img"></div>
        </div>
      </button>
    </div>
    <div class="user-info">
      <span class="user-name">
        {{profile.display_name || profile.name}}
        <span *ngIf="profile.nip05valid" class="user-verified"></span>
      </span>
      <span class="color-lowest-contrast">13,5 mil tweets</span>
    </div>
  </header>
  <section class="profile-container">
    <div class="banner" [style.backgroundImage]="getProfileBanner()">
    </div>
    <div class="edit-profile-container">
      <nostr-profile-picture [profile]="profile"></nostr-profile-picture>
  
      <button *ngIf="authProfile?.npub === profile.npub" class="button secondary">Edit profile</button>
    </div>
    <div class="user-info">
      <span class="user-name">
        {{profile.display_name || profile.name}}
        <span *ngIf="profile.nip05valid" class="user-verified"></span>
      </span>
      <span *ngIf="profile.nip05" class="user-nip5">{{profile.nip05}}</span>
    </div>
    <div class="bio" [innerHTML]="profile.htmlAbout"></div>
    <div class="additional-information">
      <span *ngIf="profile['location']">
        <div class="inline-icon icon-location">
          <div role="img"></div>
        </div>
        <span>{{profile['location']}}</span>
      </span>
      <span *ngIf="profile.website">
        <div class="inline-icon icon-link">
          <div role="img"></div>
        </div>
        <a [href]="profile.website">{{profile.website}}</a>
      </span>
      <span *ngIf="profile.created_at">
        <div class="inline-icon icon-calendar">
          <div role="img"></div>
        </div>
        <span>Joined in August 2021</span>
      </span>
    </div>
    <div class="follow-container">
      <a role="button"><strong>2.324</strong><span> following</span></a>
      <a role="button"><strong>2.324</strong><span> followers</span></a>
    </div>
  </section>
  <nav class="list-menu separator">
    <a class="active">
      <span>Tweets</span>
      <div class="underscore"></div>
    </a>
    <a>
      <span>Replies</span>
      <div></div>
    </a>
    <a>
      <span>Midia</span>
      <div></div>
    </a>
    <a>
      <span>Likes</span>
      <div></div>
    </a>
  </nav>
  <section>
    <tw-tweet-list [loading]="loading" [tweets]="tweets"></tw-tweet-list>
  </section>
</ng-container>