header {
  margin: 10px;

  .user-info {
    display: flex;
    flex-direction: column;

    .color-lowest-contrast {
      font-size: 13px;
    }

    .user-verified {
      display: block;
      float: left;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }
}

.profile-container {

  .user-info {
    height: 4rem;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  .edit-profile-container {
    display: flex;
    height: 35px;
    padding: 1rem;
    justify-content: space-between;

    img.profile {
      width: 100px;
      height: 100px;
      position: relative;
      top: -5.5rem;
    }

    button.button {
      font-size: 13px;
      padding: 0.5rem 1rem;
      border-radius: 15px;
    }
  }

  .cover {
    height: 150px;

    img {
      max-height: 100%;
      margin: 0 auto;
      display: block;
    }
  }
}