header {
  margin: 10px;

  .user-info {
    display: flex;
    flex-direction: column;

    .color-lowest-contrast {
      font-size: 13px;
    }

    .user-verified {
      display: block;
      float: left;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }
}

