video {
  background-color: black;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10000;
  height: 100vh;
  width: 100%;
}

button.iconClose {
  margin: 1rem;
  position: absolute;
  top: 0;
  z-index: 10001;
}