@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:host {
  display: block;
  width: 32px;
  height: 32px;
  animation: spin .8s linear infinite;
  margin: 0 auto;
}

.base-circle {
  opacity: 0.2;
  stroke: var(--primary);
}

.spinning-circle {
  stroke: var(--primary);
  stroke-dasharray: 80;
  stroke-dashoffset: 60;
}