<nav class="menu-bottombar">
  <ul>
    <li [class.active]="menuActive === MENU_TYPE_HOME" role="link" routerLink="/home">
      <div class="has-updates"></div>
      <div title="Home" class="menu-icon icon-home"></div>
    </li>
    <li [class.active]="menuActive === MENU_TYPE_EXPLORE" role="link" routerLink="/explore">
      <div title="Explore" class="menu-icon icon-explore"></div>
    </li>
    <li [class.active]="menuActive === MENU_TYPE_NOTIFICATIONS" role="link" routerLink="/notifications">
      <div class="has-updates">5</div>
      <div title="Notifications" class="menu-icon icon-notifications"></div>
    </li>
    <li [class.active]="menuActive === MENU_TYPE_MESSAGES" role="link" routerLink="/messages">
      <div class="has-updates">3</div>
      <div title="Messages" class="menu-icon icon-messages"></div>
    </li>
  </ul>
</nav>