<nav class="menu-bottombar">
  <ul>
    <li class="active" role="link" routerLink="/home">
      <div class="has-updates"></div>
      <div title="Home" class="menu-icon home"></div>
    </li>
    <li role="link" routerLink="/explore">
      <div title="Explore" class="menu-icon explore"></div>
    </li>
    <li role="link" routerLink="/notifications">
      <div class="has-updates">5</div>
      <div title="Notifications" class="menu-icon notifications"></div>
    </li>
    <li role="link" routerLink="/messages">
      <div class="has-updates">3</div>
      <div title="Messages" class="menu-icon messages"></div>
    </li>
  </ul>
</nav>