header {
  h1 {
    padding: 23px 16px;
    font-size: 20px;
    margin: 0;
  }

  .tweet-list-menu {
    height: 53px;
    display: flex;

    a {
      align-items: center;
      display: flex;
      flex: 1 1 0;
      justify-content: center;
      cursor: pointer;
      flex-direction: column;

      &:hover {
        background-color: var(--baseHover);
      }
      
      .underscore {
        display: none;
        background-color: var(--primary);
        height: 4px;
        width: 25%;
        position: relative;
        top: 14px;
        border-radius: 5px;
      }

      &.active {
        font-weight: bold;

        > .underscore {
          display: block;
        }
      }
    }
  }
}

.write-tweet {
  .picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 1rem;
  }

  textarea {
    background-color: var(--base);
    color: var(--contrast);
    width: 522px;
    height: 70px;
    resize: none;
    border: none;
    outline: none;
    font-size: 15px;
    box-sizing: border-box;
    padding: 1.25rem 0.25rem;
  }
}

.show-more {
  padding: 15px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: var(--primary);

  &:hover {
    background-color: var(--baseHover);
  }
}