:host {
  --menusidebar-width: 59px;
  --menusidebar-display-labels: none;
  --menusidebar-display-tweet-button-icon: block;

  display: block;
  font-size: 20px;
  max-width: var(--menusidebar-width);

  @media screen and (min-width: 1200px) {
    --menusidebar-width: 275px;
    --menusidebar-display-labels: block;
    --menusidebar-display-tweet-button-icon: none;
  }
}

header {
  img {
    width: 48px;
    margin: .25rem;
  }
}

.menuico {
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  background: var(--contrast);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  li {
    padding: .84rem;
    height: 2rem;
    border-radius: 45px;
    display: inline-flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      background-color: rgba(231, 233,234, 0.1);
    }

    span {
      display: var(--menusidebar-display-labels);
      margin: .5rem 0 .5rem 3rem;
    }

    .home {
      mask-image: url('/assets/sidemenu/home.svg');

      &.selected {
       mask-image: url('/assets/sidemenu/home-selected.svg');
      }
    }

    .explore {
      mask-image: url('/assets/sidemenu/explore.svg');

      &.selected {
       mask-image: url('/assets/sidemenu/explore-selected.svg');
      }
    }

    .notifications {
      mask-image: url('/assets/sidemenu/notifications.svg');

      &.selected {
       mask-image: url('/assets/sidemenu/notifications-selected.svg');
      }
    }

    .messages {
      mask-image: url('/assets/sidemenu/messages.svg');

      &.selected {
       mask-image: url('/assets/sidemenu/messages-selected.svg');
      }
    }

    .bookmark {
      mask-image: url('/assets/sidemenu/bookmark.svg');

      &.selected {
       mask-image: url('/assets/sidemenu/bookmark-selected.svg');
      }
    }

    .profile {
      mask-image: url('/assets/sidemenu/profile.svg');

      &.selected {
       mask-image: url('/assets/sidemenu/profile-selected.svg');
      }
    }

    .more {
      mask-image: url('/assets/sidemenu/more.svg');
    }
  }
}

button.tweet {
  margin-top: 1rem;
  width: 100%;

  > div.tweet {
    display: var(--menusidebar-display-tweet-button-icon);
    mask-image: url('/assets/sidemenu/tweet.svg');
  }

  > span {
    display: var(--menusidebar-display-labels);
  }
}