<div>
  <header>
    <img src="/assets/logo/dark-logo.png" />
  </header>
  <ul>
    <li>
      <div title="Home" class="menuico home"></div>
      <span>Home</span>
    </li>
    <li>
      <div title="Explore" class="menuico explore"></div>
      <span>Explore</span>
    </li>
    <li>
      <div title="Notifications" class="menuico notifications"></div>
      <span>Notifications</span>
    </li>
    <li>
      <div title="Messages" class="menuico messages"></div>
      <span>Messages</span>
    </li>
    <li>
      <div title="Bookmark" class="menuico bookmark"></div>
      <span>Bookmark</span>
    </li>
    <li>
      <div title="Profile" class="menuico profile"></div>
      <span>Profile</span>
    </li>
    <li>
      <div title="More" class="menuico more"></div>
      <span>More</span>
    </li>
  </ul>
  <button title="Tweet" type="button" class="primary tweet">
    <div class="menuico tweet"></div>
    <span>Tweet</span>
  </button>
</div>

<div class="profile-menu">
  <img class="picture" src="/assets/profile/default_profile.png" />
  <div class="user-info">
    <span class="user-name">José Exemplo dos Santos Silva Nelson Pereira Oliveira</span>
    <span class="user-nip5">@nelson</span>
  </div>
  <div class="ellipsis"></div>
</div>
