:host {
  --menusidebar-width: 59px;
  --menusidebar-display-labels: none;
  --menusidebar-display-tweet-button-icon: block;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  max-width: var(--menusidebar-width);
  height: 100%;

  @media screen and (min-width: 1200px) {
    --menusidebar-width: 275px;
    --menusidebar-display-labels: block;
    --menusidebar-display-tweet-button-icon: none;
  }
}

header {
  img {
    width: 48px;
    margin: .25rem;
  }
}

.menu-icon {
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  background: var(--contrast);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  li {
    padding: .84rem;
    height: 2rem;
    border-radius: 45px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: var(--baseHover);      
    }

    span {
      display: var(--menusidebar-display-labels);
      margin: .5rem 0 .5rem 3rem;
    }

    .home {
      mask-image: url('/assets/sidemenu/home.svg');

      &.selected {
       mask-image: url('/assets/sidemenu/home-selected.svg');
      }
    }

    .explore {
      mask-image: url('/assets/sidemenu/explore.svg');

      &.selected {
       mask-image: url('/assets/sidemenu/explore-selected.svg');
      }
    }

    .notifications {
      mask-image: url('/assets/sidemenu/notifications.svg');

      &.selected {
       mask-image: url('/assets/sidemenu/notifications-selected.svg');
      }
    }

    .messages {
      mask-image: url('/assets/sidemenu/messages.svg');

      &.selected {
       mask-image: url('/assets/sidemenu/messages-selected.svg');
      }
    }

    .bookmark {
      mask-image: url('/assets/sidemenu/bookmark.svg');

      &.selected {
       mask-image: url('/assets/sidemenu/bookmark-selected.svg');
      }
    }

    .profile {
      mask-image: url('/assets/sidemenu/profile.svg');

      &.selected {
       mask-image: url('/assets/sidemenu/profile-selected.svg');
      }
    }

    .more {
      mask-image: url('/assets/sidemenu/more.svg');
    }
  }
}

button.tweet {
  margin-top: 1rem;
  width: 100%;

  > div.tweet {
    display: var(--menusidebar-display-tweet-button-icon);
    background: var(--primary-text);
    mask-image: url('/assets/sidemenu/tweet.svg');
  }

  > span {
    display: var(--menusidebar-display-labels);
  }
}

.profile-menu {
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin: .5rem;
  min-width: 72px;

  &:hover, &:focus {
    background-color: var(--baseHover);
  }

  &:active {
    background-color: var(--baseActive);
  }

  .picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 1rem;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    font-size: 15px;
    flex: 1 1 0px;
    overflow: hidden;

    > span {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .user-name {
      font-weight: bold;
    }

    .user-nip5 {
      color: var(--lowContrast);
    }
  }

  .ellipsis {
    display: var(--menusidebar-display-labels);
    background: var(--contrast);
    mask-image: url('/assets/profile/ellipsis.svg');
    min-width: 19px;
    min-height: 19px;
    max-width: 19px;
    max-height: 19px;
    margin: 0.5rem;
  }
}