<div>
  <header>
    <img src="/assets/logo/dark-logo.png" />
  </header>
  <ul>
    <li routerLink="/home">
      <div title="Home" class="menu-icon home"></div>
      <span>Home</span>
    </li>
    <li routerLink="/explore">
      <div title="Explore" class="menu-icon explore"></div>
      <span>Explore</span>
    </li>
    <li routerLink="/notifications">
      <div title="Notifications" class="menu-icon notifications"></div>
      <span>Notifications</span>
    </li>
    <li routerLink="/messages">
      <div title="Messages" class="menu-icon messages"></div>
      <span>Messages</span>
    </li>
    <li routerLink="/bookmarks">
      <div title="Bookmark" class="menu-icon bookmark"></div>
      <span>Bookmark</span>
    </li>
    <li routerLink="/profile">
      <div title="Profile" class="menu-icon profile"></div>
      <span>Profile</span>
    </li>
    <li>
      <div title="More" class="menu-icon more"></div>
      <span>More</span>
    </li>
  </ul>
  <button title="Tweet" type="button" class="primary tweet">
    <div class="menu-icon tweet"></div>
    <span>Tweet</span>
  </button>
</div>

<div class="profile-menu">
  <img class="picture" src="/assets/profile/default_profile.png" />
  <div class="user-info">
    <span class="user-name">José Exemplo dos Santos Silva Nelson Pereira Oliveira</span>
    <span class="user-nip5">@nelson</span>
  </div>
  <div class="ellipsis"></div>
</div>
