<nav class="menuSidebar" *ngIf="account && account.metadata">
  <header>
    <div class="profileMenu">
      <nostr-profile-picture [account]="account"></nostr-profile-picture>
      <!-- FIXME: <tw-accounts-list-mobile [account]="account"></tw-accounts-list-mobile> -->

      <div class="userInfo">
        <span class="userName">
          {{account.displayName}}
          <span *ngIf="account.nip05?.valid" class="userVerified"></span>
        </span>
        <span *ngIf="account.metadata.nip05" class="userNip5">{{account.metadata.nip05}}</span>
      </div>
      <div class="following">
        <span>345 following</span>
        <span>367 followers</span>
      </div>
    </div>
  </header>
  <ul>
    <li tabindex="101" *ngIf="account && account.npub" [class.active]="menuActive === menuTypeProfile" role="link" routerLink="/p/{{account.npub}}">
      <div title="Profile" class="menuIcon iconProfile"></div>
      <span>Profile</span>
    </li>
    <li tabindex="102" [class.active]="menuActive === menuTypeLists" role="link" routerLink="/lists">
      <div title="Lists" class="menuIcon iconLists"></div>
      <span>Lists</span>
    </li>
    <li tabindex="103" [class.active]="menuActive === menuTypeBookmarks" role="link" routerLink="/bookmarks">
      <div title="Bookmark" class="menuIcon iconBookmark"></div>
      <span>Bookmark</span>
    </li>
    <li tabindex="104" [class.active]="menuActive === menuTypeCommunities" role="link" routerLink="/communities">
      <div title="Communities" class="menuIcon iconCommunities"></div>
      <span>Communities</span>
    </li>

    <li tabindex="105" role="link">
      <div title="More" class="menuIcon iconMore"></div>
      <span>More</span>
    </li>
  </ul>
  <footer class="terms">
    <a href="https://raw.githubusercontent.com/antonioconselheiro/twitter-parody/master/LICENSE" target="_BLANK">All rights open under ungovernable license</a> · <a target="_BLANK" href="https://github.com/antonioconselheiro/twitter-parody/issues">Found a bug?</a> · <a target="_BLANK" href="https://www.bible.com/bible/1/REV.20.KJV">Maranata, King Jesus is coming</a> · <a target="_BLANK" href="https://www.bible.com/bible/1/EXO.20.KJV">Terms of Use of Reality</a>
  </footer>
</nav>

<div tabindex="0" class="background" (click)="close()"></div>
