:host {
  display: var(--menusidebarMobileDisplay);
  font-size: 20px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: calc(0px - 18rem);
  background-color: var(--base);
  width: 18rem;
  z-index: 50;
  transition: .3s left;
  
  &.active {
    left: 0px;

    .background {
      display: block;
    }
  }
}

.background {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  width: calc(100% - 18rem);
  display: none;
  cursor: pointer;
  height: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.menu-sidebar {
  padding: 1rem 1.5rem;
  box-sizing: border-box;

  header {
    position: relative;

    .user-verified {
      display: block;
      float: left;
      position: absolute;
      right: 10px;
      top: 60px;
      z-index: 60;
    }
  }

  ul {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--separator);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--separator);
  }
}

.profile-menu {
  flex-direction: column;
  flex: 1 1 35px;

  .picture {
    margin: var(--menusidebarProfileMargin);
  }

  .user-info {
    display: flex;
    flex: 1 1 35px;
    margin: .75rem 0;
  }

  .following {
    color: var(--lowContrast);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    max-width: 85%;
  }
}