<nav class="menu-sidebar" *ngIf="profile">
  <header>
    <div class="profile-menu">
      <tw-profile-picture [profile]="profile"></tw-profile-picture>
      <tw-accounts-list-mobile [profile]="profile"></tw-accounts-list-mobile>

      <div class="user-info">
        <span class="user-name">
          {{profile.display_name || profile.name}}
          <span *ngIf="profile.nip05valid" class="user-verified"></span>
        </span>
        <span *ngIf="profile.nip05" class="user-nip5">{{profile.nip05}}</span>
      </div>
      <div class="following">
        <span>345 following</span>
        <span>367 followers</span>
      </div>
    </div>
  </header>
  <ul>
    <li tabindex="101" *ngIf="profile && profile.npub" [class.active]="menuActive === MENU_TYPE_PROFILE" role="link" routerLink="/p/{{profile.npub}}">
      <div title="Profile" class="menu-icon icon-profile"></div>
      <span>Profile</span>
    </li>
    <li tabindex="102" [class.active]="menuActive === MENU_TYPE_LISTS" role="link" routerLink="/lists">
      <div title="Lists" class="menu-icon icon-lists"></div>
      <span>Lists</span>
    </li>
    <li tabindex="103" [class.active]="menuActive === MENU_TYPE_BOOKMARKS" role="link" routerLink="/bookmarks">
      <div title="Bookmark" class="menu-icon icon-bookmark"></div>
      <span>Bookmark</span>
    </li>
    <li tabindex="104" [class.active]="menuActive === MENU_TYPE_COMMUNITIES" role="link" routerLink="/communities">
      <div title="Communities" class="menu-icon icon-communities"></div>
      <span>Communities</span>
    </li>

    <li tabindex="105" role="link">
      <div title="More" class="menu-icon icon-more"></div>
      <span>More</span>
    </li>
  </ul>
  <footer class="terms">
    <a href="https://raw.githubusercontent.com/antonioconselheiro/twitter-parody/master/LICENSE" target="_BLANK">All rights open under ungovernable license</a> · <span>Maranata</span> · <span (click)="terms()">Jesus is coming</span>
  </footer>
</nav>

<div tabindex="0" class="background" (click)="close()"></div>
