:host {
  display: var(--menusidebarMobileDisplay);
  font-size: 20px;
  height: 100%;
  position: fixed;
  top: 0;
  left: calc(0px - 18rem);
  background-color: var(--base);
  width: 18rem;
  z-index: 50;
  transition: .3s left;
  
  &.active {
    left: 0;
    box-shadow: var(--contrast) 0px 0px 5px,
      var(--contrast) 0px 1px 4px 1px;

    .background {
      background-color: var(--backgroundOverlap);
      width: calc(100% - 18rem);
      right: 0;
      left: 18rem;
    }
  }
}

.background {
  background-color: transparent;
  position: fixed;
  cursor: pointer;
  height: 100%;
  width: 0;
  transition: .3s all;
  top: 0;
  bottom: 0;
  left: 0;
}

.menu-sidebar {
  padding: 1rem 1.5rem;
  box-sizing: border-box;

  header {
    position: relative;

    nostr-profile-picture {
      margin: 0;
    }
  }

  ul {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--separator);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--separator);
  }
}

.profile-menu {
  flex-direction: column;
  flex: 1 1 35px;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--base);
  }

  .profile {
    margin: var(--menusidebarProfileMargin) !important;
  }

  .user-info {
    display: flex;
    flex: 1 1 35px;
    margin: .75rem 0;
  }

  .following {
    color: var(--lowContrast);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    max-width: 85%;
  }
}