<nav class="menuSidebar" *ngIf="account && account.metadata">
  <header>
    <div class="profileMenu">
      <nostr-profile-picture [account]="account"></nostr-profile-picture>
      <!-- <tw-accounts-list-mobile [account]="account"></tw-accounts-list-mobile> -->

      <div class="userInfo">
        <span class="user-name">
          {{account.metadata.display_name || account.metadata.name}}
          <span *ngIf="account.isNip05Valid" class="user-verified"></span>
        </span>
        <span *ngIf="account.metadata.nip05" class="user-nip5">{{account.metadata.nip05}}</span>
      </div>
      <div class="following">
        <span>345 following</span>
        <span>367 followers</span>
      </div>
    </div>
  </header>
  <ul>
    <li tabindex="101" *ngIf="account && account.npub" [class.active]="menuActive === MENU_TYPE_PROFILE" role="link" routerLink="/p/{{account.npub}}">
      <div title="Profile" class="menuIcon icon-profile"></div>
      <span>Profile</span>
    </li>
    <li tabindex="102" [class.active]="menuActive === MENU_TYPE_LISTS" role="link" routerLink="/lists">
      <div title="Lists" class="menuIcon icon-lists"></div>
      <span>Lists</span>
    </li>
    <li tabindex="103" [class.active]="menuActive === MENU_TYPE_BOOKMARKS" role="link" routerLink="/bookmarks">
      <div title="Bookmark" class="menuIcon icon-bookmark"></div>
      <span>Bookmark</span>
    </li>
    <li tabindex="104" [class.active]="menuActive === MENU_TYPE_COMMUNITIES" role="link" routerLink="/communities">
      <div title="Communities" class="menuIcon icon-communities"></div>
      <span>Communities</span>
    </li>

    <li tabindex="105" role="link">
      <div title="More" class="menuIcon icon-more"></div>
      <span>More</span>
    </li>
  </ul>
  <footer class="terms">
    <a href="https://raw.githubusercontent.com/antonioconselheiro/twitter-parody/master/LICENSE" target="_BLANK">All rights open under ungovernable license</a> · <a href="https://github.com/antonioconselheiro/twitter-parody/issues">Found a bug?</a> · <span>Jesus is coming</span>
  </footer>
</nav>

<div tabindex="0" class="background" (click)="close()"></div>
