body[data-color=blue] {
  --primary: rgb(29, 155, 240);
  --primaryHover: rgb(26, 140, 216);
  --primaryActive: rgb(23, 124, 192);

  --primaryClear: rgb(142, 205, 248);
  --primaryText: white;

  --imgButtonPrimary: var(--primary);
  --imgButtonPrimaryHover: rgba(29, 155, 240, .1);
  --imgButtonPrimaryActive: rgba(29, 155, 240, .2);
}
