body[theme=darker] {
  --base: black;
  --highContrast: white;
  --contrast: rgb(247, 249, 249);
  --lowContrast: rgb(139, 152, 165);
  --lowestContrast: rgb(113, 118, 123);

  --baseHover: rgba(231, 233, 234, 0.1);
  --baseActive: rgba(231, 233, 234, 0.2);

  --separator: rgb(47, 51, 54);
}
