body[data-theme=darker] {
  --base: black;
  --lowBase: rgb(32, 35, 39);

  --highContrast: white;
  --contrast: rgb(247, 249, 249);
  --lowContrast: rgb(139, 152, 165);
  --lowestContrast: rgb(113, 118, 123);

  --baseHover: rgba(231, 233, 234, .1);
  --baseActive: rgba(231, 233, 234, .2);

  --separator: rgb(47, 51, 54);
  --headerColor: rgba(0, 0, 0, .65);
}
