body[color=green] {
  --primary: rgb(0, 186, 124);
  --primaryHover: rgb(0, 167, 112);
  --primaryActive: rgb(0, 149, 99);

  --primaryClear: rgb(128, 221, 190);
  --primaryText: white;

  --imgButtonPrimary: var(--primary);
  --imgButtonPrimaryHover: rgba(0, 186, 124, 0.1);
  --imgButtonPrimaryActive: rgba(0, 186, 124, 0.2);
}
