body[data-theme=light] {
  --base: white;
  --lowBase: rgb(239, 243, 244);

  --highContrast: black;
  --contrast: rgb(15, 20, 25);
  --lowContrast: rgb(83, 100, 113);
  --lowestContrast: var(--lowContrast);

  --baseHover: rgba(15, 20, 25, .1);
  --baseActive: rgba(15, 20, 25, .2);

  --separator: var(--lowBase);
  --headerColor: rgba(255, 255, 255, .85);
}
