body[color=purple] {
  --primary: rgb(120, 86, 255);
  --primaryHover: rgb(108, 77, 230);
  --primaryActive: rgb(96, 69, 204);

  --primaryClear: rgb(188, 171, 255);
  --primaryText: white;

  --imgButtonPrimary: var(--primary);
  --imgButtonPrimaryHover: rgba(120, 86, 255, 0.1);
  --imgButtonPrimaryActive: rgba(120, 86, 255, 0.2);
}
