.icon-double-down {
  div[role=img] {
    mask-image: url('/assets/arrow/double-down.svg');
  }
}

.icon-double-up {
  div[role=img] {
    mask-image: url('/assets/arrow/double-up.svg');
  }
}

.icon-double-left {
  div[role=img] {
    mask-image: url('/assets/arrow/double-left.svg');
  }
}

.icon-double-right {
  div[role=img] {
    mask-image: url('/assets/arrow/double-right.svg');
  }
}

.icon-left,
.icon-back {
  div[role=img] {
    mask-image: url('/assets/arrow/left.svg');
  }
}

.icon-right,
.icon-enter {
  div[role=img] {
    mask-image: url('/assets/arrow/right.svg');
  }
}

.icon-up {
  div[role=img] {
    mask-image: url('/assets/arrow/up.svg');
  }
}

.icon-upload-image {
  div[role=img] {
    mask-image: url('/assets/write-tweet/upload-image.svg');
  }
}

.icon-gif {
  div[role=img] {
    mask-image: url('/assets/write-tweet/gif.svg');
  }
}

.icon-poll {
  div[role=img] {
    mask-image: url('/assets/write-tweet/poll.svg');
  }
}

.icon-emoticon {
  div[role=img] {
    mask-image: url('/assets/write-tweet/emoticon.svg');
  }
}

.icon-location {
  div[role=img] {
    mask-image: url('/assets/location.svg');
  }
}

.icon-calendar {
  div[role=img] {
    mask-image: url('/assets/calendar.svg');
  }
}

.icon-link {
  div[role=img] {
    mask-image: url('/assets/link.svg');
  }
}

.icon-close {
  div[role=img] {
    mask-image: url('/assets/close.svg');
  }
}

.icon-add {
  div[role=img] {
    mask-image: url('/assets/add.svg');
  }
}

.icon-logout {
  div[role=img] {
    mask-image: url('/assets/logout.svg');
  }
}

.icon-info {
  div[role=img] {
    mask-image: url('/assets/info.svg');
  }
}

.icon-show {
  div[role=img] {
    mask-image: url('/assets/show.svg');
  }
}

.icon-hide {
  div[role=img] {
    mask-image: url('/assets/hide.svg');
  }
}

.icon-unlock {
  div[role=img] {
    mask-image: url('/assets/unlock.svg');
  }
}

.icon-view {
  div[role=img] {
    mask-image: url('/assets/read-tweet/view.svg');
  }
}

.icon-share {
  div[role=img] {
    mask-image: url('/assets/read-tweet/share.svg');
  }
}

.icon-add-bookmark {
  div[role=img] {
    mask-image: url('/assets/read-tweet/options/add-bookmark.svg');
  }
}

.icon-add-list {
  div[role=img] {
    mask-image: url('/assets/read-tweet/options/add-list.svg');
  }
}

.icon-block {
  div[role=img] {
    mask-image: url('/assets/read-tweet/options/block.svg');
  }
}

.icon-report {
  div[role=img] {
    mask-image: url('/assets/read-tweet/options/report.svg');
  }
}

.icon-silence {
  div[role=img] {
    mask-image: url('/assets/read-tweet/options/silence.svg');
  }
}

.icon-unfollow {
  div[role=img] {
    mask-image: url('/assets/read-tweet/options/unfollow.svg');
  }
}

.icon-pin-tweet {
  div[role=img] {
    mask-image: url('/assets/read-tweet/options/pin-tweet.svg');
  }
}

.icon-pinned-tweet {
  div[role=img] {
    mask-image: url('/assets/read-tweet/options/pinned-tweet.svg');
  }
}

.icon-trash {
  div[role=img] {
    mask-image: url('/assets/read-tweet/options/trash.svg');
  }
}

.icon-new-message {
  div[role=img] {
    mask-image: url('/assets/chat/new-message.svg');
  }
}

.icon-send {
  div[role=img] {
    mask-image: url('/assets/chat/send.svg');
  }
}

.icon-qrcode-read {
  div[role=img] {
    mask-image: url('/assets/qrcode-read.svg');
  }
}
