.icon-back {
  div[role=img] {
    mask-image: url('/assets/back.svg');
  }
}

.icon-enter {
  div[role=img] {
    mask-image: url('/assets/enter.svg');
  }
}

.icon-upload-image {
  div[role=img] {
    mask-image: url('/assets/write-tweet/upload-image.svg');
  }
}

.icon-gif {
  div[role=img] {
    mask-image: url('/assets/write-tweet/gif.svg');
  }
}

.icon-poll {
  div[role=img] {
    mask-image: url('/assets/write-tweet/poll.svg');
  }
}

.icon-emoticon {
  div[role=img] {
    mask-image: url('/assets/write-tweet/emoticon.svg');
  }
}

.icon-location {
  div[role=img] {
    mask-image: url('/assets/location.svg');
  }
}

.icon-calendar {
  div[role=img] {
    mask-image: url('/assets/calendar.svg');
  }
}

.icon-link {
  div[role=img] {
    mask-image: url('/assets/link.svg');
  }
}

.icon-close {
  div[role=img] {
    mask-image: url('/assets/close.svg');
  }
}

.icon-add {
  div[role=img] {
    mask-image: url('/assets/add.svg');
  }
}

.icon-logout {
  div[role=img] {
    mask-image: url('/assets/logout.svg');
  }
}

.icon-info {
  div[role=img] {
    mask-image: url('/assets/info.svg');
  }
}

.icon-show {
  div[role=img] {
    mask-image: url('/assets/show.svg');
  }
}

.icon-hide {
  div[role=img] {
    mask-image: url('/assets/hide.svg');
  }
}

.icon-unlock {
  div[role=img] {
    mask-image: url('/assets/unlock.svg');
  }
}

.icon-view {
  div[role=img] {
    mask-image: url('/assets/read-tweet/view.svg');
  }
}

.icon-share {
  div[role=img] {
    mask-image: url('/assets/read-tweet/share.svg');
  }
}

.icon-down {
  div[role=img] {
    mask-image: url('/assets/chat/down.svg');
  }
}

.icon-up {
  div[role=img] {
    mask-image: url('/assets/chat/up.svg');
  }
}

.icon-new-message {
  div[role=img] {
    mask-image: url('/assets/chat/new-message.svg');
  }
}

.icon-send {
  div[role=img] {
    mask-image: url('/assets/chat/send.svg');
  }
}
