<section *ngFor="let account of accounts" class="account-container">
  <img title="profile picture" alt="profile picture" class="profile" [src]="account.picture || '/assets/profile/default-profile.png'" />
  <div class="user-info">
    <span class="user-name">
      {{account.displayName}}
      <span *ngIf="account.nip05valid" class="user-verified"></span>
    </span>
    <span *ngIf="account.nip05" class="user-nip5">{{account.nip05}}</span>
  </div>

  <div class="space-between"></div>

  <button (click)="logout(account)" title="logout" type="button" class="bordered icon-logout svg-button">
    <div class="svg-wrapper">
      <div alt="logout" role="img"></div>
    </div>
  </button>

  <button title="enter" type="button" class="bordered icon-enter svg-button">
    <div class="svg-wrapper">
      <div alt="enter" role="img"></div>
    </div>
  </button>
</section>

<form [formGroup]="accountForm" (submit)="onAddAccountSubmit($event)" autocomplete="off">
  <h2>Add account</h2>
  <div [class.is]="submitted && getFormControlErrors('nsec')" class="floating-label">
    <input
      #nsec
      required
      name="nsec"
      tabindex="1"
      maxlength="64"
      formControlName="nsec"
      id="authModalNsecField"
      [class.has-value]="nsec.value"
      [attr.type]="showNostrSecret ? 'text' : 'password'"
    />
    <label for="authModalNsecField">Nostr Secret (nsec)</label>

    <button
      type="button"
      tabindex="4"
      [attr.title]="showNostrSecret ? 'show nostr secret' : 'hide nostr secret'"
      [class.icon-show]="!showNostrSecret"
      [class.icon-hide]="showNostrSecret"
      (click)="showNostrSecret = !showNostrSecret"
      class="bordered svg-button"
    >

      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>

    <span *ngIf="submitted && getFormControlErrors('nsec')" class="error">Nostr Secret cannot be blank</span>
  </div>

  <div [class.is]="submitted && getFormControlErrors('pin')" class="floating-label pin-field">
    <input
      #pin
      required
      name="pin"
      tabindex="2"
      maxlength="6"
      formControlName="pin"
      id="authModalPinField"
      [class.has-value]="pin.value"
      [attr.type]="showPin ? 'text' : 'password'"
    />

    <label for="authModalPinField">Pin</label>

    <button type="button" tabindex="5" class="bordered icon-info svg-button">
      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>
    
    <button
      type="button"
      tabindex="6"
      [attr.title]="showPin ? 'show pin' : 'hide pin'"
      [class.icon-show]="!showPin"
      [class.icon-hide]="showPin"
      (click)="showPin = !showPin"
      class="bordered icon-info svg-button"
    >

      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>

    <span *ngIf="submitted && getFormControlErrors('nsec')" class="error">Include a Pin to improve your privacity</span>
  </div>

  <button type="submit" tabindex="3" title="add account" class="button secondary iconed-button">
    <button type="button" class="bordered icon-add svg-button">
      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>
    <span>
      Account
    </span>
  </button>
</form>