.button {
  margin-top: 1rem;
}

.account-container {
  display: flex;
  border: 1px solid var(--separator);
  padding: 0.5rem;
  border-radius: 15px;
  align-items: center;
  margin-bottom: 1rem;

  .user-info {
    display: flex;
    flex-direction: column;
  }

  .space-between {
    flex: 1 1 0;
  }
}

.pin-field {
  .has-value {
    letter-spacing: 20px;
  }
}
