@if (tweet && tweet.viewModel.content) {
  @let tweetSummarized = summarizeTweet(tweet);
  @for (segment of getSegments(tweetSummarized, isFull); track $index) {
    @switch(segment.type) {
      @case('text') {
        {{segment.value}}
      }

      @case('link') {
        <a>{{segment.value}}</a>
      }

      @case('relay') {
        <a>{{segment.value}}</a>
      }

      @case('note') {
        <a>{{segment.value}}</a>
      }

      @case('event') {
        <a>{{segment.value}}</a>
      }

      @case('npub') {
        <a>{{segment.value}}</a>
      }

      @case('nprofile') {
        <a>{{segment.value}}</a>
      }

      @case('hashtag') {
        <a>{{segment.value}}</a>
      }

      @case('video') {
        <video class="bordered" controls>
          <source [src]="segment.value" [type]="getMimeType(segment.value)" />
        </video>
      }

      @case('image') {
        <figure>
          <div class="imgWrapper">
            <div
              class="img"
              (click)="imgOpen.next({ tweet, media: segment.position })"
              [style.background-image]="'url(' + (segment | proxifyImage) + ')'"
            ></div>
          </div>
        </figure>
      }
    }
  }

  @if (!isFull) {
    @if (tweetSummarized.videoUrl) {
      <video class="bordered" controls>
        <source [src]="tweetSummarized.videoUrl" [type]="getMimeType(tweetSummarized.videoUrl)" />
      </video>
    } @else if (tweetSummarized.images.length) {
      <figure *ngIf="tweetSummarized.images.length">
        <div
          *ngFor="let touple of tweetSummarized.images"
          class="imgWrapper"
        >
          <ng-container *ngFor="let img of touple">
            <div
              *ngIf="img"
              class="img"
              (click)="imgOpen.next({ tweet, media: img.position })"
              [style.background-image]="'url(' + (img | proxifyImage) + ')'"
            ></div>
          </ng-container>
        </div>
      </figure>
    }
  }

  <time *ngIf="isFull && tweet.viewModel.createdAt" [attr.datetime]="tweet.viewModel.createdAt | datetimeIso">{{tweet.viewModel.createdAt | datetimeText}}</time>

  @if (tweetSummarized.showSummarized) {
    @if (isFull) {
      <a role="button" class="rawLink showMore" (click)="isFull = true">Show less</a>
    } @else {
      <a role="button" class="rawLink showMore" (click)="isFull = false">Show more</a>
    }
  }
} @else {
  <span>event not loaded</span>
  <!-- representar evento de lazy load -->
}

