button {
  border: 0;
  background-color: transparent;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }

  tw-loading {
    max-width: 22px;
    max-height: 22px;
  }

  tw-loading ~ span,
  .inline-icon ~ span {
    margin-left: 0.75rem;
  }
}
