<h2>Select account</h2>
<section *ngFor="let account of accounts" class="unauthenticated-account">
  <tw-profile-picture [account]="account"></tw-profile-picture>
  <div class="user-info">
    <span class="user-name">
      {{account.displayName}}
      <span *ngIf="account.nip05valid" class="user-verified"></span>
    </span>
    <span *ngIf="account.nip05" class="user-nip5">{{account.nip05}}</span>
  </div>

  <div class="space-between"></div>

  <button (click)="logout(account)" title="logout" type="button" class="bordered icon-logout svg-button">
    <div class="svg-wrapper">
      <div alt="logout" role="img"></div>
    </div>
  </button>

  <button (click)="selectAccount(account)" title="enter" type="button" class="bordered icon-enter svg-button">
    <div class="svg-wrapper">
      <div alt="enter" role="img"></div>
    </div>
  </button>
</section>

<button (click)="changeStep.next('add-account')" title="add account" type="button" class="add-account">
  <div class="inline-icon icon-add">
    <div alt="add account" role="img"></div>
  </div>

  <span>Add Account</span>
</button>