<div *ngIf="loading && !feed" class="separator timelineLoading">
  <nostr-loading></nostr-loading>
</div>

<ng-container *ngFor="let tweet of feed; trackBy: trackByTweetId">
  <article [class.separator]="!tweet.reposting?.size" class="readTweet">
    <a *ngIf="tweet.reposted?.size" href="javascript:void(0)" class="retweetOrigin">
      {{tweet.author.displayName}} has retweeted
    </a>
  
    <div class="tweetStructure">
      <nostr-profile-picture [account]="tweet.author"></nostr-profile-picture>
      <div class="tweetMetadata">
        <header>
          <address *ngIf="tweet.author" class="author userInfo">
            <span class="userName">
              {{tweet.author.displayName}}
              <span *ngIf="tweet.author.nip05?.valid" class="userVerified"></span>
            </span>
            <span *ngIf="tweet.author.nip05?.address" class="userNip5">
              {{tweet.author.nip05?.address}}
            </span>
            <time *ngIf="tweet.createdAt" [attr.datetime]="tweet.createdAt | datetimeIso">{{tweet.createdAt | datetimeText}}</time>
          </address>
  
          <button #popoverTrigger (click)="openTweetContextMenu(tweet, popoverTrigger)" class="svgButton borderless">
            <nostr-svg-render name="ellipsis"></nostr-svg-render>
          </button>
        </header>
  
        <tw-tweet
          class="tweetContent"
          (imgOpen)="onImgOpen($event)"
          [note]="tweet"
          [showImages]="false"
          [isFull]="false"
        ></tw-tweet>
  
        <tw-tweet-list
          *ngIf="tweet.reply.replies.size"
          [feed]="tweet.reply.replies"
          class="bordered retweetContent"
          [loading]="false"
        ></tw-tweet-list>
  
        <tw-tweet-button-group *ngIf="!tweet.reposting?.size" [tweet]="tweet"></tw-tweet-button-group>
      </div>
    </div>
  </article>
</ng-container>
<div *ngIf="loading && feed" class="separator timelineLoading">
  <nostr-loading></nostr-loading>
</div>
<tw-tweet-image-viewer
  *ngIf="viewing"
  [root]="viewing.note"
  [activeImage]="viewing.img"
  (closeEvent)="viewing = null"
></tw-tweet-image-viewer>
