main {
  max-width: 1265px;
  margin: 0 auto;
  height: 100%;
  display: flex;

  .main {
    width: 600px;
    border-left: 1px solid var(--separator);
    border-right: 1px solid var(--separator);
  }
}
