main {
  max-width: 1265px;
  margin: 0 auto;
  display: flex;

  .main {
    position: relative;
    left: var(--menusidebarWidth);
    border-left: 1px solid var(--separator);
    border-right: 1px solid var(--separator);
    width: var(--mainWidth);
    min-height: 100vw;
  }

  router-outlet {
    &:last-child {
      padding: 1rem;
      display: block;
    }

    &:not(:last-child) {
      tw-loading {
        display: none;
      }
    }
  }
}