<h2>Add account</h2>
<form [formGroup]="accountForm" (submit)="onAddAccountSubmit($event)" novalidate autocomplete="off">
  <div [class.error]="submitted && getFormControlErrors('nkey')" class="floating-label">
    <input #nkey required name="nkey" tabindex="1" maxlength="64" formControlName="nkey" id="addAccountNkeyField"
      [class.has-value]="nkey.value" [attr.readonly]="loading ? 'readonly' : null"
      [attr.type]="showNostrSecret ? 'text' : 'password'" (input)="onNSecInputchange()" />
    <label for="addAccountNsecField">Nostr Key (nsec, npub, nip-05)</label>

    <button type="button" tabindex="4" title="read nkey from qrcode" (click)="readQrcodeUsingCamera(pin)"
      class="bordered icon-qrcode-read svg-button">

      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>

    <button type="button" tabindex="4" [attr.title]="showNostrSecret ? 'hide nostr secret' : 'show nostr secret'"
      [class.icon-show]="!showNostrSecret" [class.icon-hide]="showNostrSecret"
      (click)="showNostrSecret = !showNostrSecret" class="bordered svg-button">

      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>

    <ng-container *ngIf="submitted">
      <span *ngIf="getFormControlErrorStatus('nkey', 'required')" class="error">Nostr Secret cannot be blank</span>
      <span *ngIf="getFormControlErrorStatus('nkey', 'invalidNostrPublicGivenInstead')" class="error">Nostr Public given
        instead Nostr Secret</span>
      <span *ngIf="getFormControlErrorStatus('nkey', 'invalidNostrSecret')" class="error">Invalid Nostr Secret</span>
      <span *ngIf="getFormControlErrorStatus('nkey', 'nostrSecretNotFound')" class="error">Could not found this account
        in current relay pool</span>
    </ng-container>
  </div>

  <div [class.error]="submitted && getFormControlErrors('pin')"
    [attr.class]="'floating-label pin-field' + (showPinInput ? '' : ' hidden')">
    <input #pin name="pin" tabindex="2" [maxlength]="pinLength" formControlName="pin" id="addAccountPinField"
      [class.has-value]="pin.value" [attr.readonly]="loading ? 'readonly' : null"
      [attr.type]="showPin ? 'text' : 'password'" />

    <label for="addAccountPinField">Pin</label>

    <!-- TODO: incluir popover ao clique com explicação do porquê do pin -->
    <button title="tap for information" type="button" tabindex="6" class="bordered icon-info svg-button">
      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>

    <button type="button" tabindex="7" [attr.title]="showPin ? 'hide pin' : 'show pin'" [class.icon-show]="!showPin"
      [class.icon-hide]="showPin" (click)="showPin = !showPin" class="bordered icon-info svg-button">

      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>

    <ng-container *ngIf="submitted">
      <span *ngIf="getFormControlErrorStatus('pin', 'required')" class="error">Include a Pin to improve your
        privacity</span>
    </ng-container>
  </div>

  <div class="button-group">
    <button type="submit" tabindex="2" title="add account" class="button secondary iconed-button">
      <div *ngIf="!loading" class="inline-icon icon-add">
        <div role="img"></div>
      </div>

      <tw-loading *ngIf="loading"></tw-loading>

      <span>
        Add account
      </span>
    </button>

    <button *ngIf="accounts.length" type="button" tabindex="3" title="back" (click)="changeStep.next('select-account')"
      class="button secondary iconed-button">
      <div class="inline-icon icon-back">
        <div role="img"></div>
      </div>

      <span>
        Back
      </span>
    </button>
  </div>
</form>
