<form [formGroup]="accountForm" (submit)="onAddAccountSubmit($event)" autocomplete="off">
  <h2>Add account</h2>
  <div [class.error]="submitted && getFormControlErrors('nsec')" class="floating-label">
    <input
      #nsec
      required
      name="nsec"
      tabindex="1"
      maxlength="64"
      formControlName="nsec"
      id="authModalNsecField"
      [class.has-value]="nsec.value"
      [attr.readonly]="loading ? 'readonly' : null"
      [attr.type]="showNostrSecret ? 'text' : 'password'"
    />
    <label for="authModalNsecField">Nostr Secret (nsec)</label>

    <button
      type="button"
      tabindex="5"
      [attr.title]="showNostrSecret ? 'hide nostr secret' : 'show nostr secret'"
      [class.icon-show]="!showNostrSecret"
      [class.icon-hide]="showNostrSecret"
      (click)="showNostrSecret = !showNostrSecret"
      class="bordered svg-button"
    >

      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>

    <ng-container *ngIf="submitted">
      <span *ngIf="getFormControlErrorStatus('nsec', 'required')" class="error">Nostr Secret cannot be blank</span>
      <span *ngIf="getFormControlErrorStatus('nsec', 'invalidNostrPublicGivenInstead')" class="error">Nostr Public given instead Nostr Secret</span>
      <span *ngIf="getFormControlErrorStatus('nsec', 'invalidNostrSecret')" class="error">Invalid Nostr Secret</span>
      <span *ngIf="getFormControlErrorStatus('nsec', 'nostrSecretNotFound')" class="error">Could not found this account in current relay pool</span>
    </ng-container>
  </div>

  <div [class.error]="submitted && getFormControlErrors('pin')" class="floating-label pin-field">
    <input
      #pin
      required
      name="pin"
      tabindex="2"
      [maxlength]="pinLength"
      formControlName="pin"
      id="authModalPinField"
      [class.has-value]="pin.value"
      [attr.readonly]="loading ? 'readonly' : null"
      [attr.type]="showPin ? 'text' : 'password'"
    />

    <label for="authModalPinField">Pin</label>

    <!-- TODO: incluir popover ao clique com explicação do porquê do pin -->
    <button title="tap for information" type="button" tabindex="6" class="bordered icon-info svg-button">
      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>
    
    <button
      type="button"
      tabindex="7"
      [attr.title]="showPin ? 'hide pin' : 'show pin'"
      [class.icon-show]="!showPin"
      [class.icon-hide]="showPin"
      (click)="showPin = !showPin"
      class="bordered icon-info svg-button"
    >

      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>

    <ng-container *ngIf="submitted">
      <span *ngIf="getFormControlErrorStatus('pin', 'required')" class="error">Include a Pin to improve your privacity</span>
    </ng-container>
  </div>

  <button type="submit" tabindex="3" title="add account" class="action-button button secondary iconed-button">
    <button *ngIf="!loading" type="button" class="bordered icon-add svg-button">
      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>

    <tw-loading *ngIf="loading"></tw-loading>

    <span>
      Account
    </span>
  </button>

  <button (click)="changeStep.next('select-account')" type="button" tabindex="4" title="back" class="action-button button secondary iconed-button">
    <button type="button" class="bordered icon-back svg-button">
      <div class="svg-wrapper">
        <div role="img"></div>
      </div>
    </button>

    <span>
      Back
    </span>
  </button>
</form>