:host {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.writingTweetButtonTray {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 0 .5rem 10px;

  button.svgButton {
    div[role=img] {
      background-color: var(--primary);
      width: 20.2px;
      min-height: 19px;
    }
  }
}

button.tweet {
  margin-right: 1rem;
  margin-bottom: 10px;
  padding: .2rem 1rem;
  font-size: 16px;
}

.emojiMart {
  position: absolute;
  z-index: 200;
  top: 3rem;
  left: 2rem;
  transition: .3s opacity;

  &.hidden {
    opacity: 0;
    display: none; // FIXME: como preservar o transition mas no final dar display: none? setTimeout é a única saida? :s
  }
}