<div class="writingTweetButtonTray">
  <button type="button" class="svgButton">
    <nostr-svg-render name="uploadImage"></nostr-svg-render>
  </button>
  
  <button type="button" class="svgButton">
    <nostr-svg-render name="gif"></nostr-svg-render>
  </button>
  
  <button type="button" class="svgButton">
    <nostr-svg-render name="poll"></nostr-svg-render>
  </button>
  
  <button (click)="toggleEmojiMart()" type="button" class="svgButton">
    <nostr-svg-render name="emoticon"></nostr-svg-render>
  </button>
  
  <button type="button" disabled class="svgButton">
    <nostr-svg-render name="location"></nostr-svg-render>
  </button>
</div>  

<button type="button" class="button tweet">Tweet</button>
<emoji-mart
  #emojiMart
  set="twitter"
  [class.hidden]="!emojiMartOpen"
  class="emojiMart"
  (emojiSelect)="addEmoji($event)"
  [darkMode]="isDarkMode()"
  [emojiTooltip]="true"
></emoji-mart>