<header>
  <div>Messages</div>
  <button title="new message" type="button" class="icon-new-message svg-button">
    <div class="svg-wrapper">
      <div alt="new message" role="img"></div>
    </div>
  </button>
  <button type="button" title="collapse" (click)="collapse.next(!collapsed)" [class.icon-double-down]="!collapsed" [class.icon-double-up]="collapsed" class="svg-button">
    <div class="svg-wrapper">
      <div alt="collapse" role="img"></div>
    </div>
  </button>
</header>

<aside *ngIf="!collapsed && contacteds.length">
  <ul>
    <li (click)="choose.emit(message.author)" role="link" *ngFor="let message of contacteds">
      <tw-profile-picture [picture]="message.author.picture"></tw-profile-picture>
      <article>
        <header>
          <span class="user-name">
            {{message.author.display_name || message.author.name}}
            <span *ngIf="message.author.nip05valid" class="user-verified"></span>
          </span>
          <span *ngIf="message.author.nip05" class="user-nip5">{{message.author.nip05}}</span>
          <time [attr.datetime]="message.time | datetimeIso">· {{message.time | datetimeText}}</time>
        </header>

        <span class="message">message one two three</span>
      </article>
    </li>
  </ul>
</aside>

<aside class="no-message" *ngIf="!collapsed && !contacteds.length">
  <h2>Welcome to your inbox!</h2>
  <p>
    Drop a line, share tweets and more with private conversations between you and others on Twitter (Parody). 
  </p>
  <button class="primary button">Write a message</button>
</aside>