<tw-popover class="tweetContextMenu" #tweetActions [style.top.px]="contextMenuPosition?.y" [style.left.px]="300">
  <ul class="popoverList">
    <li role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/options/unfollow"></nostr-svg-render>
      Delete
    </li>
    <li role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/options/pinTweet"></nostr-svg-render>
      Pin to your Profile
    </li>
    <li role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/options/unfollow"></nostr-svg-render>
      Unfollow &#64;name
    </li>
    <li role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/options/addList"></nostr-svg-render>
      Add/Remove &#64;name from Lists
    </li>
    <li role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/options/silence"></nostr-svg-render>
      Silence &#64;name
    </li>
    <li role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/options/block"></nostr-svg-render>
      Block &#64;name
    </li>
    <li role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/options/report"></nostr-svg-render>
      Report &#64;name
    </li>
    <li role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/view"></nostr-svg-render>
      Event detail
    </li>
  </ul>
</tw-popover>