header {
  display: flex;
  padding: 1rem;

  .backButton {
    margin-right: 1rem;
  }

  .userInfo {
    display: flex;
    flex-direction: column;

    .userName {
      font-size: 20px;
      width: 230px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

aside {
  height: 465px;
  display: flex;
  flex-direction: column;

  nostr-svg-render svg {
    background-color: var(--primary);
  }
  
  section {
    flex: 1 1 0;
    overflow-y: auto;
  }
  
  footer {
    display: flex;
  
    .chatInput {
      background-color: var(--lowBase);
      display: flex;
      border-radius: 25px;
      overflow: hidden;
      padding-left: 1rem;
      margin: 5px 0;
      box-sizing: border-box;
  
      input {
        background-color: var(--lowBase);
        border: 0;
  
        &::placeholder {
          color: var(--lowContrast);
          font-size: 15px;
        }
  
        &:focus {
          outline: none;
        }
      }
    }
  }
}

