<tw-popover [selfCloseOnOutClick]="true" #tweetRetweet [style.top.px]="triggerPosition?.top" [style.left.px]="triggerPosition?.left">
  <ul *ngIf="tweet" class="popoverList">
    <li (click)="retweet(tweet)" role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/retweet"></nostr-svg-render>
      Retweet
    </li>
    <li (click)="retweetWithComment(tweet)" role="button">
      <nostr-svg-render class="inlineIcon" name="readTweet/retweetWithComment"></nostr-svg-render>
      Comment
    </li>
  </ul>
</tw-popover>