:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}

.tweetSidebar {
  position: fixed;
  width: 350px;
  top: 0;
  right: 0;

  background-color: var(--base);
  border-left: 1px solid var(--separator);
  height: 100%;

  &.hide {
    display: none;
  }
}

.mainImage {
  background-color: var(--headerColor);
  display: flex;
  align-items: center;
  position: fixed;
  right: 350px;
  bottom: 0;
  left: 0;
  top: 0;

  &.full {
    right: 0;
  }

  button {
    margin: 1rem;
    position: absolute;

    nostr-svg-render {
      background-color: var(--headerColor);

      svg {
        background-color: var(--highContrast);
      }
    }

    &.iconClose {
      top: 0;
      left: 0;
    }
  
    &.iconLeft {
      left: 0;
    }
  
    &.iconRight {
      right: 0;
    }

    &.tweetsController {
      top: 0;
      right: 0;
    }
  }

  img {
    margin: 0 auto;
    display: block;
    max-height: 100vh;
    max-width: 100%;
  }
}