<div [class.full]="!showTweets" class="main-image">
  <button (click)="close()" title="close" type="button" class="svgButton">
    <nostr-svg-render name="close"></nostr-svg-render>
  </button>

  <button *ngIf="hasPreviousImage()" (click)="showPreviousImage()" title="show previous image" type="button" class="svgButton">
    <nostr-svg-render name="left"></nostr-svg-render>
  </button>

  <button *ngIf="hasNextImage()" (click)="showNextImage()" title="show next image" type="button" class="svgButton">
    <nostr-svg-render name="right"></nostr-svg-render>
  </button>

  <button
    type="button"
    [attr.title]="showTweets ? 'hide tweets' : 'show tweets'"
    (click)="showTweets = !showTweets"
    class="tweets-controller svgButton"
  >
    <nostr-svg-render [name]="showTweets ? 'arrow/doubleRight' : 'arrow/doubleLeft'"></nostr-svg-render>
  </button>

  <img [src]="activeImage" />
</div>
<div [class.hide]="!showTweets" class="tweet-sidebar">
  <tw-tweet-list [tweet]="tweet"></tw-tweet-list>
</div>
