.floating-label {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--base);
  border: 1px solid var(--separator);
  border-radius: 15px;
  height: 3.5rem;
  margin-top: 1.5rem;

  &.error {
    border: 1px solid var(--error);

    label {
      color: var(--error);
    }

    .error {
      display: block;
      color: var(--error);
      margin: 7px 0 0 10px;
      font-size: 13px;
    }
  }

  label {
    position: absolute;
    font-size: 18px;
    top: 20px;
    left: 20px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: var(--lowContrast);
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--base);
    color: var(--contrast);
    outline: none;
    margin-top: 1rem;
    padding-left: 20px;
    box-sizing: border-box;
    border: 0;

    &:focus + label,
    &.has-value + label {
      top: 4px;
      left: 20px;
      font-size: 13px;
      color: var(--contrast);
    }
  }
}