<button type="button" class="icon-reply svg-button">
  <div class="svg-wrapper">
    <div role="img"></div>
  </div>
  <span class="amount">{{tweet?.replies?.length || 0 | amount}}</span>
</button>
<button type="button" class="icon-retweet svg-button active">
  <div class="svg-wrapper">
    <div role="img"></div>
  </div>
  <span class="amount">{{tweet?.retweeted?.length || 0 | amount}}</span>
</button>
<button type="button" class="icon-like svg-button active">
  <div class="svg-wrapper">
    <div role="img"></div>
  </div>
  <span class="amount">{{tweet?.reactions?.length || 0 | amount}}</span>
</button>
<button *ngIf="tweet && tweet.view" type="button" class="icon-view svg-button">
  <div class="svg-wrapper">
    <div role="img"></div>
  </div>
  <span class="amount">{{tweet.view | amount}}</span>
</button>
<button type="button" class="icon-share svg-button">
  <div class="svg-wrapper">
    <div role="img"></div>
  </div>
</button>

  