:host {
  display: var(--floatingChatDisplay);
  background-color: var(--base);
  position: fixed;
  right: 2%;
  bottom: 0;
  z-index: 15;
  border: 1px solid var(--separator);
  width: 350px;
  border-radius: 15px 15px 0 0;
  box-shadow: var(--baseHover) 0px 0px 15px, var(--baseActive) 0px 0px 3px 1px
}
