:host {
  display: var(--floatingChatDisplay);
  background-color: var(--base);
  position: fixed;
  right: 9%;
  bottom: 0;
  border: 1px solid var(--separator);
  width: 320px;
}

header {
  display: flex;
  padding: 1rem;

  .user-info {
    display: flex;
    flex-direction: column;

    .user-name {
      font-size: 20px;
      width: 230px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.svg-wrapper [role=img] {
  background-color: var(--primary);
}

.icon-down {
  div[role=img] {
    mask-image: url('/assets/chat/down.svg');
  }
}

.icon-up {
  div[role=img] {
    mask-image: url('/assets/chat/up.svg');
  }
}

section {
  height: 300px;
  overflow-y: scroll;
}

footer {
  display: flex;

  .chat-input {
    background-color: var(--lowBase);
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    padding-left: 1rem;
    margin: 5px 0;
    box-sizing: border-box;

    input {
      background-color: var(--lowBase);
      border: 0;

      &::placeholder {
        color: var(--lowContrast);
        font-size: 15px;
      }

      &:focus {
        outline: none;
      }
    }
  }
}