:host {
  display: block;
}

textarea {
  background-color: var(--base);
  color: var(--highContrast);
  width: 522px;
  height: 70px;
  resize: none;
  border: 0;
  outline: none;
  font-size: 15px;
  box-sizing: border-box;
  padding: 1.25rem .25rem;
  border-bottom: 1px solid var(--separator);
  margin-bottom: .5rem;
}

.writeTweet {
  display: flex;
}

.hbar {
  position: relative;
  flex: 0 0 70px;

  nostr-profile-picture {
    position: absolute;
  }
}
