<article class="read-tweet separator" *ngFor="let tweet of tweets; trackBy: trackByTweetId">
  <a href="javascript:void(0)" class="retweet-origin">
    Example has retweeted
  </a>

  <div class="tweet-structure">
    <div>
      <img class="profile" src="/assets/profile/default_profile.png" />
    </div>
    <div class="tweet-metadata">
      <header>
        <address class="author user-info">
          <span class="user-name">José Exemplo dos Santos Silva Nelson Pereira Oliveira</span>
          <span class="user-verified"></span>
          <span class="user-nip5">@nelson</span>
          <time datetime="2023-08-29T12:00:00">3h</time>
        </address>

        <button class="svg-button ellipsis">
          <div class="svg-wrapper">
            <div role="img"></div>
          </div>
        </button>
      </header>

      <tw-tweet class="tweet-content" [tweet]="tweet.content"></tw-tweet>
      <tw-tweet-button-group></tw-tweet-button-group>
    </div>
  </div>
</article>